$choices-button-icon-path: "~choices.js/assets/icons";
$choices-bg-color: #fff;
$choices-border-radius: $border-radius;
$choices-highlight-color: theme-color("primary");
$choices-keyline-color: #ddd;
