// stylelint-disable
$gray-100: #f7f7f7;
$gray-200: #f2f2f2;
$gray-300: #dbdbdb;
$gray-400: #afafaf;
$gray-500: #999;
$gray-600: #717171;
$gray-700: #565656;
$gray-800: #333;

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
) !default;

$theme-colors: (
	"primary":     #2571d4,
	"success":     #8dbc54,
	"information": #17a2b8,
	"warning":     #f9c95d,
	"danger":      #e05f59,
) !default;

$colors: ();

$body-color: $gray-700 !default;
$body-bg:    #fff;
