// stylelint-disable
$white:    #fff;
$black:    #000;
$gray:     #3b4257;

$gray-100: lighten($gray, 68%);
$gray-200: lighten($gray, 55%);
$gray-300: lighten($gray, 44%);
$gray-400: lighten($gray, 33%);
$gray-500: lighten($gray, 22%);
$gray-600: lighten($gray, 11%);
$gray-700: $gray;
$gray-800: darken($gray, 11%);
$gray-900: darken($gray, 22%);

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
);

$blue:    #346bcc;
$indigo:  #6610f2;
$purple:  #7941ff;
$pink:    #d91b5b;
$red:     #e05f59;
$orange:  #fd7356;
$yellow:  #f9c95d;
$green:   #8dbc54;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: (
	"blue":       $blue,
	"indigo":     $indigo,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"black":      $black,
	"gray":       $gray-600
);

$theme-colors: (
	"primary":    $blue,
	"secondary":  $orange,
	"success":    $green,
	"info":       $cyan,
	"warning":    $yellow,
	"danger":     $red,
	"light":      rgba($blue, 0.10),
	"dark":       $gray-700
);

$body-color: $gray-700;
