// Determine if CSS colors should be output in built scripts.
// If disabled only the generated color values from inline CSS will be available.
$use-fallback-colors: false;

$white:    #fff;
$gray-100: #f7f7f7 !default;
$gray-200: #f2f2f2 !default;
$gray-300: #dbdbdb !default;
$gray-400: #afafaf !default;
$gray-500: #999 !default;
$gray-600: #717171 !default;
$gray-700: #565656 !default;
$gray-800: #333 !default;
$black:    #000;

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
);

$theme-colors: (
	"primary":     #2571d4,
	"success":     #8dbc54,
	"information": #17a2b8,
	"warning":     #f9c95d,
	"danger":      #e05f59,
) !default;

$theme-colors-contrast: (
	"primary":     #2571d4,
	"success":     #5c8031,
	"information": #118294,
	"warning":     #8c7000,
	"danger":      #a00a00,
) !default;

// Required for Bootstrap functions.
$colors:();

$body-color: $gray-700 !default;
$body-bg:    $white !default;
