// stylelint-disable
$gray-100: #f7f7f7;
$gray-200: #f2f2f2;
$gray-300: #c6c6c6;
$gray-400: #afafaf;
$gray-500: #999999;
$gray-600: #777777;
$gray-700: #565656;
$gray-800: #333333;

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
) !default;

$theme-colors: (
	"primary":    #346bcc,
	"secondary":  #fd7356,
	"success":    #8dbc54,
	"info":       #17a2b8,
	"warning":    #f9c95d,
	"danger":     #e05f59,
	"light":      #fbfcff,
	"dark":       $gray-700
) !default;

$colors: ();

$body-color: $gray-700 !default;
$body-bg:    #fff;
