// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f9fa !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #2f2f33 !default;
$gray-700: #495057 !default;
$gray-800: #3b4257 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
), $grays);

$blue:    #3a495c !default;
$indigo:  #6610f2 !default;
$purple:  #312344 !default;
$pink:    #d91b5b !default;
$red:     #F2535B !default;
$orange:  #fd7e14 !default;
$yellow:  #f9c95d !default;
$green:   #8dbc54 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
	"blue":       $blue,
	"indigo":     $indigo,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"black":      $black,
	"gray":       $gray-600
), $colors);

$theme-colors: () !default;
$theme-colors: map-merge((
	"primary":    $red,
	"secondary":  $blue,
	"success":    $green,
	"info":       $cyan,
	"warning":    $yellow,
	"danger":     $red,
	"light":      $gray-100,
	"dark":       $gray-900
), $theme-colors);
// stylelint-enable

// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;
