$font-size-base: 0.925rem;
$font-size-xs: ($font-size-base * 0.80);
$font-size-sm: ($font-size-base * 0.87);
$font-size-xl: ($font-size-base * 1.5);

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   500;
