$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$line-height-base: 1.5;

$font-size-base: 1em;
$font-size-xs: ($font-size-base * 0.80);
$font-size-sm: ($font-size-base * 0.87);
$font-size-lg: ($font-size-base * 1.25);
$font-size-xl: ($font-size-base * 1.65);

$font-weight-base: 400;
$font-weight-bold: 500;
