$spacer: 1rem;

$enable-grid-classes: true;
$grid-gutter-width:   ( $spacer * 2 );
$grid-columns:        12 !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

$container-max-widths: (
	xl: 1550px,
);

