$spacer: 1rem !default;

$enable-grid-classes: false !default;
$grid-gutter-width:   ( $spacer * 2 ) !default;
$grid-columns:        12 !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1300px,
) !default;

$container-max-widths: (
	xl: 80%,
) !default;
