$icon-w: 24px;
$icon-h: 24px;

$icons: (
	social: (
		"dribbble",
		"facebook",
		"github",
		"google",
		"reddit",
		"rss",
		"slack",
		"twitch",
		"twitter",
		"wordpress",
		"youtube"
	),

	generic: (
		"arrow-right",
		"arrow-left",
		"cart",
		"menu",
		"search",
		"star",
		"star-empty",
		"star-half",
		"user",
	),
);

$icon-size-multipliers: (
	xs: 0.667,
	sm: 0.75,
	lg: 1.25,
	xl: 1.5,
);
