/**
 * Variables.
 *
 * Defined before Bootstrap to override.
 */
@import "variables/paths";
@import "variables/colors";
@import "variables/grid";
@import "variables/box";
@import "variables/fonts";
@import "variables/icons";

/**
 * External dependencies
 */

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/mixins/grid";
@import "~bootstrap/scss/grid";

/**
 * Internal dependencies
 */

// Functions
@import "functions/font-size";
@import "functions/theme-color-contrast";

// Mixins
@import "mixins/theme-color";
@import "mixins/complimentary-columns";
@import "mixins/grow-column";
@import "mixins/col";
@import "mixins/button";
@import "mixins/form";
@import "mixins/table";
@import "mixins/card";
@import "mixins/vertical-spacing";
@import "mixins/reset-list";
@import "mixins/pseudo-overlay";
@import "mixins/border-radius";
@import "mixins/admin-bar-mobile";
@import "mixins/type";
@import "mixins/screen-reader-text";
@import "mixins/pagination";
