$padding: 12px;
$border:  1px solid #ccc;

#customize-control-color-primary,
#customize-control-color-danger {
	padding-bottom: $padding;
	border-bottom: $border;
}

#customize-control-bigbox-navbar-sources-dynamic,
#customize-control-bigbox-colors-element-missing {
	padding-top: $padding;
	border-top: $border;
}

.popover.wp-pointer {
	z-index: 500001;
	left: 290px !important;
	min-width: 280px;
}
