$padding: 12px;
$border:  1px solid #ccc;

#customize-control-color-primary,
#customize-control-color-danger {
	padding-bottom: $padding;
	border-bottom: $border;
}

#customize-control-bigbox-navbar-sources-dynamic,
#customize-control-bigbox-colors-element-missing {
	padding-top: $padding;
	border-top: $border;
}

@keyframes growHint {

	0% {
		transform: scale(0);
		opacity: 1;
	}

	80% {
		transform: scale(1);
		opacity: 0.2;
	}

	100% {
		opacity: 0;
	}
}

.bigbox-pointer {
	z-index: 500001;
	width: 280px;
	position: fixed;
	padding: $padding;
	box-shadow: 0 3px 30px rgba(25, 30, 35, 0.1);
	border: 1px solid #e2e4e7;
	background: #fff;
	transform: translate3d(0, -50%, 0);

	&[aria-hidden] {
		display: none;
	}

	&::before,
	&::after {
		content: " ";
		border-radius: 100%;
		background: #3c64ff;
		position: absolute;
		top: 50%;
	}

	&:before {
		width: 10px;
		height: 10px;
		left: -15px;
		margin-top: -5px;
	}

	&::after {
		width: 20px;
		height: 20px;
		left: -20px;
		margin-top: -10px;
		animation: growHint 1.5s infinite;
	}

	h3 {
		line-height: 1.4em;
		font-size: 14px;
		margin-top: 0;
	}
}

.bigbox-pointer__buttons {
	display: flex;
	justify-content: space-between;

	a {
		text-decoration: none;
	}

	.close {
		opacity: 0.5;
		color: firebrick;
	}

	.next {
		font-weight: bold;
	}
}
