/**
 * Global config.
 */
@import "_config";

body {
	color: $body-color;
	font: $font-weight-base #{$font-size-base}/2em $font-family-sans-serif;
	text-size-adjust: 100%; 
	background: $body-bg;
}

/**
 * Internal dependencies.
 */
@import "elements/h";
@import "elements/a";
@import "elements/p";
@import "elements/table";
@import "elements/img";
@import "elements/label";
@import "elements/strong";
@import "elements/small";
@import "elements/mark";
