//
// Global Config.
//
@import "_config";

//
// Internal dependencies.
//
@import "modules/facetwp-counts";
@import "modules/facetwp-pager";
@import "modules/facetwp-load-more";
@import "modules/facetwp-sort";
@import "modules/facetwp-flatpickr";

.facetwp-template {
	position: relative;

	&__loading {

		@include pseudo-overlay();

		background: rgba(255, 255, 255, 0.75);
		z-index: 2;

		&::before {
			content: "";
			position: absolute;
			top: 75px;
			left: 50%;
			width: 40px;
			height: 40px;
			margin-left: -20px;
			border-radius: 100%;
			animation: scaleout 1s infinite ease-in-out;

			@include theme-color("background-color", "primary");
		}
	}
}

.facetwp-facet {

	.facetwp-submit,
	.facetwp-autocomplete-update,
	.facetwp-slider-reset {
		margin-top: ($spacer / 2);
		box-shadow: none;

		@include button();
		@include button--size-xs();
	}

	.facetwp-radio,
	.facetwp-checkbox {
		background: none;
		position: relative;
		padding-left: 0;

		&.checked {
			background: none;
		}

		[type="radio"],
		[type="checkbox"] {
			margin: -2px 8px 0 0;
			vertical-align: middle;
		}
	}

	// Addon: Hierarchy Select
	.facetwp-hierarchy_select {
		margin-bottom: ($spacer / 2);
		width: 100%;
	}

	// Addon: Alpha
	&.facetwp-type-alpha {
		display: flex;
		padding-bottom: 16px;
		border-bottom: 1px solid gray("200");
		overflow-x: scroll;

		.facetwp-alpha {
			text-align: center;
			flex: 1;
			margin: 0;
			padding: 0 ($spacer / 2.5);

			&.selected {

				@include theme-color("color", "primary");
			}
		}
	}

	// Addon: Colors
	&.facetwp-type-color {

		.facetwp-color {
			border-radius: 50%;
			border: 2px solid #fff;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
			width: 34px;
			height: 34px;

			&.checked::after {
				margin: 11px 0 0 6px;
			}
		}
	}
}

.widget .facetwp-facet {
	margin-bottom: 0;

	.facetwp-dropdown,
	.fs-wrap,
	.fs-dropdown {
		max-width: 100%;
	}

	.facetwp-star {
		display: flex;
		align-items: center;
		line-height: 1;
		margin-bottom: ($spacer / 2);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.facetwp-selections {

	ul {

		@include reset-list();
	}

	li[data-facet] {
		display: block;
		margin-bottom: 1rem;
	}
}

.facetwp-selection-label {
	display: block;
	margin: 0 0 0.5rem;
}

.facetwp-facet.facetwp-type-slider {
	position: relative;

	.noUi-horizontal .noUi-handle {
		right: -8px;
		left: auto;
	}

	.facetwp-slider {
		border-color: transparent;
		box-shadow: none;
		background-color: gray("200");
		height: 10px;
		border-radius: 50px;

		&.noUi-target {
			padding: 0 6px;
		}

		.noUi-connect {

			@include theme-color("color", "primary");
		}

		.noUi-handle {
			box-shadow: none;
			border-width: 2px;
			border-style: solid;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			cursor: ew-resize;
			top: -4px;

			@include theme-color("border-color", "primary");

			&::before,
			&::after {
				display: none;
			}
		}
	}
}

.facetwp-facet.facetwp-facet-rating {
	overflow: hidden;
	display: flex;
	align-items: center;

	&:not(:empty) {
		height: 20px;
	}

	.facetwp-star {
		color: gray("300");
		font-size: $font-size-base;
		margin-bottom: 0;
		margin-right: 3px;
	}

	.facetwp-star:hover,
	.facetwp-star:hover ~ .facetwp-star,
	.facetwp-star.selected,
	.facetwp-star.selected ~ .facetwp-star {
		color: #f8c144;
	}

	.facetwp-counter {
		font-size: $font-size-sm;
		margin-left: 4px;
	}
}

.facetwp-facet.facetwp-type-search {

	.facetwp-search-wrap {
		display: flex;
	}

	.facetwp-btn {
		top: 9px;
		right: 9px;

		&::before {
			background-size: 19px;
			background-position: center center;
		}
	}
}

.facetwp-facet.facetwp-type-date_range {

	.facetwp-date-max,
	.facetwp-date-min {
		font-size: $font-size-sm;
	}

	.facetwp-date-max {
		margin-top: $spacer;
	}
}

.facetwp-facet.facetwp-type-number_range {

	.facetwp-number {
		margin-bottom: $spacer;
	}
}

.facetwp-facet.facetwp-type-proximity {

	.location-wrap {
		display: block;
	}

	.locate-me {
		top: 9px;
		right: 9px;
	}

	.facetwp-radius {
		margin-top: $spacer;
	}
}
