/**
 * Global config.
 */
$use-margins: false;

@import "_config";

$wb: (
	black: #000000,
	white: #ffffff,
);

.edit-post-visual-editor {
	&,
	.editor-default-block-appender input[type=text].editor-default-block-appender__content,
	p {
		color: $body-color;
		font-family: $font-family-sans-serif;
		font-size: #{$font-size-base} * 16px;
	}

	/**
	 * Internal dependencies.
	 */
	@import "elements/h";
	@import "elements/a";
	@import "elements/p";
	@import "elements/table";
	@import "elements/img";
	@import "elements/label";
	@import "elements/strong";
	@import "elements/small";
	@import "elements/mark";

	@import "modules/gutenberg-colors";
	@import "modules/gutenberg";

	.wp-block-button .wp-block-button__link {
		@import "modules/gutenberg-colors";
	}
}

.editor-post-title__input {
	color: gray("800");
	font-family: $font-family-sans-serif;
}

.editor-rich-text__tinymce.mce-content-body {
	line-height: ($line-height-base * 1.35);
}
