//
// Load global config.
//
@import "_config";

$wb: (
	black: #000000,
	white: #ffffff,
);

.edit-post-visual-editor {
	&,
	p {
		color: $body-color;
		font-family: $font-family-sans-serif;
	}

	@import "modules/gutenberg";
}

.editor-post-title__input {
	color: gray("800");
	font-family: $font-family-sans-serif;
}
