/**
 * Global config.
 */
$use-margins: false;

@import "_config";

.edit-post-visual-editor {

	/**
	 * Internal dependencies.
	 */
	@import "elements/h";
	@import "elements/a";
	@import "elements/p";
	@import "elements/table";
	@import "elements/img";
	@import "elements/label";
	@import "elements/strong";
	@import "elements/small";
	@import "elements/mark";
	@import "modules/gutenberg-colors";
	@import "modules/gutenberg";

	&,
	.editor-default-block-appender input[type=text].editor-default-block-appender__content,
	p {
		color: $body-color;
		font-family: $font-family-sans-serif;
		font-size: #{$font-size-base} * 16px;
	}

	p.wp-block-subhead {
		color: inherit;
	}

	.wp-block-button {

		& .wp-block-button__link {

			@import "modules/gutenberg-colors";
		}
	}

	.wp-block-table {
		display: block;

		table {
			display: table;
		}

		td,
		th {
			border: 0;
		}
	}

	.wp-block-cover-image {

		.wp-block-cover-image-text {
			line-height: $line-height-base;
		}
	}
}

.editor-post-title__input {
	color: gray("800");
	font-family: $font-family-sans-serif;
}

.editor-rich-text__tinymce.mce-content-body {
	line-height: ($line-height-base * 1.35);
}
