/**
 * Global config.
 */
$use-margins: false;

/**
 * Internal dependencies.
 */
@import "_config";

// Base HTML elements.
@import "elements/h";
@import "elements/a";
@import "elements/p";
@import "elements/table";
@import "elements/img";
@import "elements/label";
@import "elements/strong";
@import "elements/small";
@import "elements/mark";

// Styles shared on the frontend.
@import "modules/gutenberg";
@import "modules/woocommerce-blocks";

// Editor-specific block changes.
.wp-block-cover {

	.wp-block-cover-text {
		line-height: $line-height-base;
	}
}

.editor-post-title__block {
	font-size: font-size("md");

	.editor-post-title__input {
		font-family: $font-family-sans-serif;
		font-size: font-size("lg");

		@include media-breakpoint-up(md) {
			font-size: font-size("xl");
		}
	}
}

.wp-block-table__cell-content {
	padding: 0;
}

.wp-block-button {

	.wp-block-button__link[data-is-placeholder-visible="true"] {
		position: absolute;
	}

	&:not(.is-style-squared) {

		.wp-block-button__link {

			&,
			&::after {
				border-radius: $border-radius;
			}
		}
	}
}
