// @todo cleanup

#poststuff.bigbox-setup-guide-steps {
  margin: 15px 40px 0 20px;

  @media only screen and (max-width: 500px) {
    margin-right: 20px;
    margin-left: 10px;
  }

  .accordion-container {
    border: 1px solid #ddd;
  }

  .accordion-section:last-child {
    border-bottom: 0;
  }

  h3.hndle {
    padding: 12px 20px;
  }

  p:first-child,
  h3 {
    margin-top: 0;
  }
}

.helpful-links {
  margin-bottom: 0;
}

.bigbox-setup-guide {
  .about-text {
    min-height: 0;
  }
}

.bigbox-activate-license {
  display: flex;
  align-items: center;

  [type="text"] {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    width: 350px;
  }

  .button {
    margin: -1px 0 0 10px;
  }
}

.button.button-primary.button-large {
  font-size: 16px;
  padding: 8px 15px;
  height: auto;
}

.license--status-invalid[type="text"] {
  border-color: #dc3232;
  box-shadow: 0 0 2px rgba(220, 50, 50, 0.8);
}

.license--status-valid[type="text"] {
  border-color: #00be30;
  box-shadow: 0 0 2px rgba(#00be30, 0.8);
}

#poststuff .install-plugins {
  .inside,
  .accordion-section-content {
    margin: 0;
  }

  .plugin-list {
    overflow: hidden;
  }
}

#poststuff .install-woocommerce {
  .accordion-section-content {
    padding: 0;
  }

  .plugin-card {
    float: none;
    margin: 0;
    border: 0;
    width: 100%;
  }
}

.nux-panel-cta {
  text-align: center;
  margin: 1rem 0;
}
