/**
 * Variables.
 *
 * Defined before Bootstrap to override.
 */
@import "variables/colors";

/**
 * External dependencies
 */
// Bootstrap
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";

// Choices
$choices-button-icon-path: "~choices.js/assets/icons";
$choices-bg-color: #fff;
$choices-border-radius: 3px;
$choices-highlight-color: theme-color("primary");
$choices-keyline-color: #ddd;

@import "~choices.js/assets/styles/scss/choices";

/**
 * Internal dependencies
 */

// Color system.
@import "functions/colors";

// Mixins
@import "mixins/button";
@import "mixins/form";
@import "mixins/link";

// Helpers
@import "helpers/animation-spin";
@import "helpers/align";
@import "helpers/ui";

// HTML Elements
@import "elements/html";
@import "elements/body";
@import "elements/a";
@import "elements/img";
@import "elements/label";

// Repeatable Patterns
@import "modules/button";

// Forms
@import "modules/form-row";
@import "modules/form-row-group";
@import "modules/form-label";
@import "modules/form-input";

// Navbar
@import "modules/navbar";
@import "modules/navbar-search";
@import "modules/branding";
