/**
 * Variables.
 *
 * Defined before Bootstrap to override.
 */
@import "variables/colors";
@import "variables/box";
@import "variables/vertical";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
) !default;

/**
 * External dependencies
 */
// Bootstrap
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";

// Choices
$choices-button-icon-path: "~choices.js/assets/icons";
$choices-bg-color: #fff;
$choices-border-radius: $border-radius;
$choices-highlight-color: theme-color("primary");
$choices-keyline-color: #ddd;

@import "~choices.js/assets/styles/scss/choices";

/**
 * Internal dependencies
 */

// Color system.
@import "functions/colors";

// Mixins
@import "mixins/button";
@import "mixins/form";
@import "mixins/link";

// Helpers
@import "helpers/animation-spin";
@import "helpers/align";
@import "helpers/ui";
@import "helpers/screen-reader-text";

// HTML Elements
@import "elements/html";
@import "elements/body";
@import "elements/a";
@import "elements/img";
@import "elements/label";

// Repeatable Patterns
@import "modules/button";
@import "modules/icon";

// Forms
@import "modules/form-row";
@import "modules/form-row-group";
@import "modules/form-label";
@import "modules/form-input";

// Navbar
@import "modules/navbar";
@import "modules/navbar-search";
@import "modules/navbar-menu";
@import "modules/megamenu";
@import "modules/branding";

// Product card
@import "modules/products";
@import "modules/product";

// Product
@import "modules/price";
@import "modules/star-rating";
