/**
 * Variables.
 *
 * Defined before Bootstrap to override.
 */
@import "variables/colors";
@import "variables/box";
@import "variables/vertical";

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

$container-max-widths: (
	xl: 1550px,
) !default;

/**
 * External dependencies
 */
// Bootstrap
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities";

// Choices
$choices-button-icon-path: "~choices.js/assets/icons";
$choices-bg-color: #fff;
$choices-border-radius: $border-radius;
$choices-highlight-color: theme-color("primary");
$choices-keyline-color: #ddd;

@import "~choices.js/assets/styles/scss/choices";

/**
 * Internal dependencies
 */

// Color system.
@import "functions/colors";

// Mixins
@import "mixins/button";
@import "mixins/form";
@import "mixins/link";
@import "mixins/card";

// Helpers
@import "helpers/animation-spin";
@import "helpers/align";
@import "helpers/ui";
@import "helpers/screen-reader-text";

// HTML Elements
@import "elements/html";
@import "elements/body";
@import "elements/a";
@import "elements/img";
@import "elements/label";

// Repeatable Patterns
@import "modules/button";
@import "modules/icon";
@import "modules/card";

// Forms
@import "modules/form-row";
@import "modules/form-row-group";
@import "modules/form-label";
@import "modules/form-input";

// Navbar
@import "modules/navbar";
@import "modules/navbar-search";
@import "modules/navbar-menu";
@import "modules/megamenu";
@import "modules/branding";

// Content
@import "modules/site-primary";
@import "modules/site-secondary";
@import "modules/site-tertiary";
@import "modules/page-title";
@import "modules/widget";
@import "modules/widget-title";

// Shop
@import "modules/shop-filters";
@import "modules/ordering";
@import "modules/breadcrumbs";
@import "modules/woocommerce-products-header";
@import "modules/woocommerce-widget-layered-nav-list";
@import "modules/facetwp";

// Product card
@import "modules/products";
@import "modules/product";
@import "modules/product-category";

// Product
@import "modules/price";
@import "modules/star-rating";
