/**
 * Variables.
 *
 * Defined before Bootstrap to override.
 */
@import "variables/colors";
@import "variables/grid";
@import "variables/box";
@import "variables/fonts";
@import "variables/choices";

/**
 * External dependencies
 */
// Bootstrap
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/functions";

/**
 * Internal dependencies
 */

// Mixins
@import "mixins/responsiveMap";
@import "mixins/button";
@import "mixins/form";
@import "mixins/link";
@import "mixins/card";
@import "mixins/vertical-spacing";

// Helpers
@import "helpers/animation-spin";
@import "helpers/align";
@import "helpers/screen-reader-text";
@import "helpers/type";

// HTML Elements
@import "elements/html";
@import "elements/body";
@import "elements/h";
@import "elements/a";
@import "elements/p";
@import "elements/table";
@import "elements/img";
@import "elements/label";
@import "elements/strong";
@import "elements/small";

// Repeatable Patterns
@import "modules/button";
@import "modules/icon";
@import "modules/card";
@import "modules/action-list";
@import "modules/screen-reader-text";

// Forms
@import "modules/form-row";
@import "modules/form-row-group";
@import "modules/form-label";
@import "modules/form-input";
@import "modules/select2";

// Navbar
@import "modules/navbar";
@import "modules/navbar-search";
@import "modules/navbar-menu";
@import "modules/navbar-mobile";
@import "modules/megamenu";
@import "modules/branding";

// Content
@import "modules/site-primary";
@import "modules/site-secondary";
@import "modules/site-tertiary";
@import "modules/page-title";
@import "modules/widget";
@import "modules/widget-title";
@import "modules/hentry";

// Footer
@import "modules/footer-nav";
@import "modules/footer-copyright";

// Shop
@import "modules/shop-filters";
@import "modules/facetwp";
@import "modules/ordering";
@import "modules/breadcrumbs";
@import "modules/woocommerce";
@import "modules/woocommerce-products-header";
@import "modules/woocommerce-message";
@import "modules/woocommerce-single-product-gallery";
@import "modules/woocommerce-single-product";
@import "modules/woocommerce-single-product-purchase";
@import "modules/woocommerce-single-product-reviews";
@import "modules/woocommerce-cart";
@import "modules/woocommerce-cart-form";
@import "modules/woocommerce-cart-continue";
@import "modules/woocommerce-checkout";
@import "modules/woocommerce-paypal-express";
@import "modules/woocommerce-account";
@import "modules/woocommerce-form-login";
@import "modules/woocommerce-pagination";

// Product card
@import "modules/products";
@import "modules/product";
@import "modules/product-category";

// Product
@import "modules/price";
@import "modules/star-rating";

// FacetWP
@import "modules/facetwp-pager";
@import "modules/facetwp-sort";
