@mixin button {
	color: #fff;
	font: #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	appearance: none;
	padding: 10px 20px;
	border: 0;
	border-radius: $border-radius;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;

	@include media-breakpoint-up(md) {
		padding: 17px 35px;
	}

	&:after {

		@include pseudo-overlay();

		background: transparent;
		z-index: -1;
		border-radius: $border-radius;
	}

	&:hover {
		border: 0;
		text-decoration: none;

		&:after {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}

	&:disabled {
		opacity: 0.5;
	}
}

// [1] Gutenberg adds their own !important declaration.
@mixin button--color( $color ) {

	@include button;
	background-color: theme-color( $color );

	&:hover {
		color: #fff;
	}
}

@mixin button--gray( $gray ) {

	@include button;
	background-color: gray( $gray );

	&:hover {
		color: #fff;
	}
}

// [1] Gutenberg adds their own !important declaration.
@mixin button--blank {
	color: inherit;
	line-height: 1;
	padding: 0;
	background: none !important; // [1]
	box-shadow: none !important; // [1]
	border-radius: 0;

	&:hover {
		background: none !important; // [1]
		box-shadow: none !important; // [1]
		transform: none;
	}
}

@mixin button--pill {
	font-size: $font-size-xs;
	line-height: 1;
	background: gray("100");
	padding: 5px 5px 4px;
	display: inline-block;
	border: 1px solid gray("300");
	border-radius: $border-radius;

	&:hover {
		text-decoration: none;
		border: 1px solid gray("400");
	}
}

// [1] Override standard sizing growth on larger devices.
@mixin button--size-sm {
	padding: 9px 20px;

	@include media-breakpoint-up(md) {
		padding: 9px 20px; // [1]
	}
}

// [1] Override standard sizing growth on larger devices.
@mixin button--size-xs {
	font-size: $font-size-xs;
	padding: 5px 10px;

	@include media-breakpoint-up(md) {
		padding: 5px 10px; // [1]
	}
}

@mixin button--size-block {
	width: 100%;
	display: block;
}
