@mixin button {
	font: 400 16px/1.5 $font-family-sans-serif;
	cursor: pointer;
	padding: 13px 20px;
	border: 0;
	border-radius: $border-radius;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;

	@include media-breakpoint-up(md) {
		font-size: 18px;
		padding: 17px 35px;
	}

	&:hover {
		border: 0;
		text-decoration: none;
	}
}

// [1] Gutenberg adds their own !important declaration.
@mixin button--primary {

	@include button;
	color: #fff;
	background-color: theme-color("primary");
}

@mixin button--secondary {

	@include button;
	color: gray(700);
	background-color: gray(500);
	border: 1px solid gray(300);
}

// [1] Gutenberg adds their own !important declaration.
@mixin button--blank {
	line-height: 1;
	padding: 0;
	background: none !important; // [1]
	box-shadow: none !important; // [1]
	border-radius: 0;

	&:hover {
		background: none !important; // [1]
		box-shadow: none !important; // [1]
		transform: none;
	}
}

@mixin button--danger {

	@include button;
	@include button--primary;
	background-color: color("red");
}

@mixin button--size-sm {
	font-size: 16px;
	padding: 13px 20px;
}

@mixin button--size-block {
	width: 100%;
	display: block;
}
