@mixin button {
	font: $font-weight-normal #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	padding: 10px 20px;
	border: 0;
	border-radius: $border-radius;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;

	@include media-breakpoint-up(md) {
		padding: 17px 35px;
	}

	&:hover {
		border: 0;
		text-decoration: none;
	}

	&:disabled {
		opacity: 0.5;
	}
}

// [1] Gutenberg adds their own !important declaration.
@mixin button--primary {

	@include button;
	color: color("white");
	background-color: theme-color("primary");

	&:hover {
		color: color("white");
	}
}

@mixin button--secondary {

	@include button;
	color: gray("600");
	background-color: gray("200");
}

// [1] Gutenberg adds their own !important declaration.
@mixin button--blank {
	line-height: 1;
	padding: 0;
	background: none !important; // [1]
	box-shadow: none !important; // [1]
	border-radius: 0;

	&:hover {
		background: none !important; // [1]
		box-shadow: none !important; // [1]
		transform: none;
	}
}

@mixin button--danger {

	@include button;
	@include button--primary;
	background-color: color("red");
}

@mixin button--success {

	@include button;
	@include button--primary;
	background-color: theme-color("success");

	&:hover {
		background-color: darken(theme-color("success"), 5%);
	}
}

// [1] Override standard sizing growth on larger devices.
@mixin button--size-sm {
	font-size: $font-size-sm;
	padding: 9px 20px;

	@include media-breakpoint-up(md) {
		padding: 9px 20px; // [1]
	}
}

// [1] Override standard sizing growth on larger devices.
@mixin button--size-xs {
	font-size: $font-size-xs;
	padding: 5px 10px;

	@include media-breakpoint-up(md) {
		padding: 5px 10px; // [1]
	}
}

@mixin button--size-block {
	width: 100%;
	display: block;
}
