@mixin card {
	background: theme-color("light");
	border-radius: $border-radius;
	border: 1px solid rgba(theme-color("primary"), 0.25);
	box-shadow: theme-color("light") 0 1px 2px;
}

@mixin card--primary {

	@include card;

	color: theme-color("dark");
	border: 1px solid rgba(theme-color("success"), 0.5);
	background: rgba(theme-color("success"), 0.10);
	box-shadow: inset rgba(theme-color("success"), 0.10) 0 0 0 3px, rgba(theme-color("success"), 0.3) 0 1px 2px;
}

@mixin card--error {

	@include card;

	color: theme-color("danger");
	border: 1px solid rgba(theme-color("danger"), 0.5);
	box-shadow: inset rgba(theme-color("danger"), 0.10) 0 0 0 3px, rgba(theme-color("danger"), 0.3) 0 1px 2px;
	background-color: #fff;
}
