@mixin card {
	padding: $spacer;
	background: rgba(gray("100"), 0.15);
	border: 1px solid rgba(gray("300"), 0.75);
	box-shadow: rgba(gray("300"), 0.5) 0 1px 2px;

	@include border-radius();
}

@mixin card--color($color) {

	color: gray("700");
	border: 1px solid rgba(theme-color($color), 0.5);
	background-color: rgba(theme-color($color), 0.1);
	box-shadow: inset rgba(theme-color($color), 0.1) 0 0 0 3px, rgba(theme-color($color), 0.3) 0 1px 2px;
}

@mixin card--reset() {
	padding: 0;
	background: none;
	border: 0;
	box-shadow: none;
}
