@mixin card {
	background: rgba(theme-color("primary"), 0.03);
	border-radius: $border-radius;
	border: 1px solid rgba(theme-color("primary"), 0.20);
	box-shadow: rgba(theme-color("primary"), 0.10) 0 1px 2px;
}

@mixin card--primary {

	@include card;

	background: rgba(theme-color("success"), 0.2);
	border: 1px solid rgba(theme-color("success"), 0.8);
	box-shadow: rgba(theme-color("success"), 0.3) 0 1px 2px;
}

@mixin card--error {

	@include card;

	background: rgba(theme-color("danger"), 0.2);
	border: 1px solid rgba(theme-color("danger"), 0.8);
	box-shadow: rgba(theme-color("danger"), 0.3) 0 1px 2px;
}
