@mixin card {
	background: rgba(gray("100"), 0.15);
	border-radius: $border-radius;
	border: 1px solid rgba(gray("300"), 0.75);
	box-shadow: rgba(gray("300"), 0.5) 0 1px 2px;
}

@mixin card--primary {

	@include card;

	color: gray("700");
	border: 1px solid rgba(theme-color("success"), 0.5);
	background: rgba(theme-color("success"), 0.1);
	box-shadow: inset rgba(theme-color("success"), 0.1) 0 0 0 3px, rgba(theme-color("success"), 0.3) 0 1px 2px;
}

@mixin card--error {

	@include card;

	color: theme-color("danger");
	border: 1px solid rgba(theme-color("danger"), 0.5);
	box-shadow: inset rgba(theme-color("danger"), 0.1) 0 0 0 3px, rgba(theme-color("danger"), 0.3) 0 1px 2px;
	background-color: #fff;
}
