@mixin form-row {
	margin: 0 0 ($spacer * 1.5);

	&:not(.form-row--half):not(:first-of-type):last-of-type,
	&:not(.form-row--half):not(:first-child):last-child {
		margin-bottom: 0;
	}
}

@mixin form-label {
	cursor: pointer;
	line-height: 1;
	font-weight: $font-weight-bold;
	margin: 0 0 ($spacer / 2);
	display: block;
}

@mixin form-input {
	font: #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	padding: ( $spacer / 2 );
	border: 1px solid gray("300");
	border-radius: $border-radius;
}
