@mixin form-row {
	margin: 0 0 $spacer;

	&:not(.form-row--half):not(:first-of-type):last-of-type,
	&:not(.form-row--half):not(:first-child):last-child {
		margin-bottom: 0;
	}
}

@mixin form-label {
	font-weight: $font-weight-bold;
	margin: 0 0 8px;
	display: block;
}

@mixin form-input {
	font: $font-weight-normal #{$font-size-sm}/#{$line-height-base} $font-family-sans-serif;
	padding: ( $spacer / 2 );
	border: 1px solid gray("300");
	border-radius: $border-radius;

	&:focus {
		border-color: gray("400");
		box-shadow: 0 0 4px rgba(theme-color("primary"), 0.20);
	}
}
