//
// Create a pseudo element that covers it's entire "parent".
//
@mixin pseudo-overlay() {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 0;
	display: block;
}
