@mixin table( $striped: false ) {
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;

  @include card();

  padding: 0;

  td,
  th {
    padding: ($spacer / 2);
    border: 1px solid gray("300");
  }

  th {
    text-align: left;
  }
  
  @if $striped {

    tr:nth-child(even) {
      background-color: gray("100");
    }

    td,
    th {
      border: 1px solid gray("300");
    }
  }

  a {
    text-decoration: none;
  }

  p {
    margin-top: 0;
  }

  // Trailing button (usually to add a new row).
  + .button {

    @include vertical-spacing("margin", "up");
  }
}
