body {
	color: gray("700");
	font: $font-weight-normal #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	margin: 0;
	padding: 0;
	background: color("white");
	position: relative;
	overflow-x: hidden;
}
