body {
	color: $body-color;
	font: $font-weight-base #{$font-size-base}/#{$line-height-base} $font-family-sans-serif;
	text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: $body-bg;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;

	*:focus {
		outline: 0;
	}

	&.is-tabbing {

		*:focus {
			outline: 2px solid theme-color("primary");
			outline-offset: 2px;
		}
	}

	&.admin-bar {
		min-height: calc(100vh - 32px);

		@include admin-bar-mobile() {
			min-height: calc(100vh - 46px);
		}
	}
}
