body {
	color: gray(700);
	font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0;
	background: #fff;
	position: relative;
	overflow-x: hidden;
}
