$headings: 1, 2, 3, 4, 5, 6;

@each $heading in $headings {

	h#{$heading} {
		color: theme-color("dark");
		font-weight: $font-weight-bold;
		margin: $spacer 0;
	}
}

h1,
h2 {
	font-size: $font-size-lg;

	@include media-breakpoint-up(md) {
		font-size: $font-size-xl;
	}
}
