@for $heading from 1 through 6 {

	h#{$heading} {
		color: gray("800");
		font-weight: $font-weight-bold;

		@if $use-margins {
			margin: $spacer 0;
		}
	}
}

h1,
h2 {
	font-size: $font-size-lg;

	@include media-breakpoint-up(md) {
		font-size: $font-size-xl;
	}
}
