@for $heading from 1 through 6 {

	h#{$heading} {
		color: gray("800");
		font-weight: $font-weight-bold;

		@if $use-margins {
			margin: $spacer 0 0;
		}
	}
}

h1,
h2 {
	font-size: $font-size-lg;

	@include media-breakpoint-up(md) {
		font-size: $font-size-xl;
	}
}

h3 {
	font-size: calc(#{$font-size-base} * 1.425);
}

h4 {
	font-size: calc(#{$font-size-base} * 1.25);
}
