table {
	border-collapse: collapse;
	border-style: hidden;
	box-shadow: 0 0 0 1px gray("200");
	border-radius: $border-radius;
	width: 100%;
	
	td,
	th {
		padding: ($spacer / 2) $spacer;
		border: 1px solid gray("200");
		vertical-align: middle;
	}

	th {
		color: initial;
		text-align: left;
		text-transform: uppercase;
		font-size: $font-size-xs;
		letter-spacing: 0.05em;
	}

	tbody {

		tr:nth-child(even) {

			th,
			td {
				background: gray("100");
			}
		}

		tr:first-child,
		tr:only-child {

			td {
				border-top: 0;
			}
		}
	}

	tfoot {

		tr:first-child,
		tr:only-child {

			th,
			td {
				padding-top: $spacer;
			}
		}

		td {
			font-weight: $font-weight-bold;
		}
	}

	a {
		text-decoration: none;
	}

	p {
		margin-top: 0;
	}

	.button {

		@include button--secondary;
		@include button--size-xs;
	}
}
