table {
	border-collapse: collapse;
	border-style: hidden;
	width: 100%;

	@include card();

	padding: 0;

	tr {
		border-bottom: 1px solid gray("300");

		&:last-child {
			border-bottom: 0;
		}
	}

	td,
	th {
		padding: ($spacer / 2) $spacer;
		vertical-align: middle;
	}

	th {
		color: initial;
		text-align: left;
		text-transform: uppercase;
		font-size: $font-size-xs;
		letter-spacing: 0.05em;
	}

	thead {
		border-bottom: 1px solid gray("300");
	}

	tbody {

		tr:nth-child(even) {

			th,
			td {
				background: gray("100");
			}
		}
	}

	tfoot {
		border-top: 1px solid gray("300");

		td {
			font-weight: $font-weight-bold;
		}
	}

	a {
		text-decoration: none;
	}

	p {
		margin-top: 0;
	}

	// Trailing button (usually to add a new row).
	+ .button {

		@include vertical-spacing("margin", "up");
	}
}
