.alignfull,
.alignwide {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;

	iframe,
	img {
		width: 100%;
		height: auto;
	}
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

@include media-breakpoint-up(xl) {

	.alignwide {
		margin-left: -10%;
		margin-right: -10%;
		width: 120%;
	}
}
