.alignfull,
.alignwide {

	@include media-breakpoint-up(xl) {

		&,
		.site-primary--full & {
			margin-left: calc(-100vw / 2 + 100% / 2);
			margin-right: calc(-100vw / 2 + 100% / 2);
			max-width: 100vw;
			width: auto;
		}
	}

	iframe,
	img {
		min-width: 100%;
	}
}

@include media-breakpoint-up(xl) {

	.alignwide {

		&,
		.site-primary--full & {
			margin-left: -($grid-gutter-width * 2);
			margin-right: -($grid-gutter-width * 2);
			max-width: calc(100% + #{$grid-gutter-width * 4});
			width: auto;
		}
	}
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}
