.action-list__item {
	line-height: 1;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.action-list__item--inset {
	border-left: 1px dashed gray("400");

	.action-list__item-label {
		margin-left: $spacer;
	}
}

.action-list__item-label,
.action-list__item-action {
	flex: 1;
}

.action-list__item-label {
	line-height: 1;
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	margin: 0 ($spacer / 2) 0 0;

	label {
		margin: 0;
	}

	small {
		color: gray("500");
		font-size: $font-size-xs;
		font-weight: $font-weight-base;
	}

	.amount {
		font-weight: $font-weight-base;
	}
}

.action-list__item-value {
	color: gray("800");
	font-size: $font-size-base;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	text-align: right;

	&--no-flex {
		display: inline-block;
	}

	select {
		width: 100%;
		min-width: 50px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
