.action-list__item {
	line-height: 1;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.action-list__item--inset {

	.action-list__item-label {
		margin-left: $spacer;
	}
}

.action-list__item-label,
.action-list__item-action {
	flex: 1;
}

.action-list__item-label {
	line-height: 1;
	font-weight: $font-weight-bold;
	margin: 0 $spacer 0 0;

	label {
		margin: 0;
	}

	small {
		opacity: 0.50;
		font-size: $font-size-xs;
	}
}

.action-list__item-value {
	font-size: $font-size-base;
	justify-content: flex-end;
	display: flex;
	align-items: center;

	select {
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
