.action-list {

}

.action-list__item {
	line-height: 1;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.action-list__item--inset {
	.action-list__item-label {
		margin-left: $spacer;
	}
}

.action-list__item-label {
	color: gray("700");
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	line-height: 1;
	margin-right: $spacer;

	small {
		color: gray("500");
		font-weight: $font-weight-normal;
		font-size: $font-size-xs;
		display: block;
	}
}

.action-list__item-value {
	font-size: $font-size-base;
}
