.action-list__item {
	line-height: 1;
	margin-bottom: $spacer;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&:last-child {
		margin-bottom: 0;
	}
}

.action-list__item--inset {
	border-width: 0 0 0 1px;
	border-style: solid;

	@include gray("border-left-color", "300");

	.action-list__item-label {
		margin-left: $spacer;
	}
}

.action-list__item-label,
.action-list__item-action {
	flex: 1;
}

.action-list__item-label {
	line-height: 1;
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	margin: 0 $spacer 0 0;

	label {
		margin: 0;
	}

	small {
		font-size: $font-size-xs;
		font-weight: $font-weight-base;

		@include gray("color", "500");
	}

	.amount {
		font-weight: $font-weight-base;
	}
}

.action-list__item-value {
	font-size: $font-size-base;
	justify-content: flex-end;
	display: flex;
	align-items: center;
	text-align: right;

	@include gray("color", "800");

	&--no-flex {
		display: inline-block;
	}

	select {
		width: 100%;
		min-width: 50px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
