.blog-post {
	text-align: center;
	border-bottom: 1px solid gray("200");

	$map: (
		md: 2,
		lg: 3,
	);

	@include vertical-spacing("padding", "both", $map);
	@include vertical-spacing("margin", "down", $map);

	&:last-child {
		border-bottom: 0;
	}
}

.blog-post__title {
	font-size: $font-size-xl;
	margin: 0;

	a {
		text-decoration: none;
	}
}

.blog-post__content {

	@include vertical-spacing("margin", "down");
}

.blog-post__meta {
	font-size: $font-size-sm;
}
