// [1] 10px added to .navbar-menu__item a -- fixes visual alignment.
.branding {
	font-weight: $font-weight-bold;
	color: color("white");
	font-size: $font-size-lg;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;
	order: 0;

	@include media-breakpoint-up(lg) {
		margin: 0;
		padding-left: 11px; // [1]
	}
	
	a {
		color: color("white");
	}

	.bigbox-minimal & {

		// [1] Center on large minimal pages.
		@include media-breakpoint-up(sm) {
			margin: 0 auto; // [1]
		}
	}
}
