// [1] 10px added to .navbar-menu__item a -- fixes visual alignment.
.branding {
	order: 0;
	display: flex;
	align-items: center;

	img {
		display: block;
	}

	@include media-breakpoint-up(lg) {
		margin: 0;
		padding-left: 11px; // [1]
	}

	.bigbox-minimal & {

		// [1] Center on large minimal pages.
		@include media-breakpoint-up(sm) {
			margin: 0 auto; // [1]
			padding-left: 0;
		}
	}
}

.site-title {
	font-weight: $font-weight-bold;
	color: color("white");
	font-size: $font-size-lg;
	text-transform: uppercase;
	line-height: 1;
	margin: 0;

	a {
		color: color("white");
		text-decoration: none;
	}
}

.custom-logo-link + .site-title {
	margin: 0 0 0 $spacer;
}
