.breadcrumbs,
.woocommerce-breadcrumb {
	color: gray('700');
	font-size: 0.75rem;
	background: gray("100");
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
	@include make-container();

	padding: ( $grid-gutter-width / 3 ) ( ( $grid-gutter-width / 2 ) + 10px );
}
