.breadcrumbs,
.woocommerce-breadcrumb {
	font-size: $font-size-xs;
	background: gray("100");
	flex-wrap: wrap;
	align-items: center;
	display: none;

	@include make-container();

	padding: ($spacer * 0.75) $spacer;

	@include media-breakpoint-up(sm) {
		display: flex;
	}

	a {
		color: theme-color("dark");
	}
}
