// [1] 10px added to .navbar-menu__item a -- fixes visual alignment.
.breadcrumbs,
.woocommerce-breadcrumb {
	font-size: $font-size-xs;
	background: gray("100");
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	@include make-container();

	padding: ( $spacer * 0.75 ) calc(#{$spacer} + 11px); // [1]

	a {
		color: theme-color("dark");
	}
}
