.breadcrumbs,
.woocommerce-breadcrumb {
	font-size: $font-size-xs;
	background: gray("100");
	flex-wrap: wrap;
	align-items: center;
	display: none;

	@include make-container();

	@include media-breakpoint-up(md) {
		display: flex;
		padding: ($spacer * 0.75) $spacer;
	}

	@include media-breakpoint-up(xl) {
		padding-left: ($spacer * 2);
		padding-right: ($spacer * 2);
	}

	a {
		color: gray("700");
	}
}
