[type="submit"],
button,
.button {

	@include button();
	@include button--color("primary");

	// Sizes.
	&.button--size-lg {

		@include button--size-sm();
	}

	&.button--size-sm {

		@include button--size-sm();
	}

	&.button--size-xs {

		@include button--size-xs();
	}

	&.button--size-block {

		@include button--size-block();
	}

	// Colors.
	@each $name, $hex in $theme-colors {

		&.button--color-#{$name} {

			@include button--color($name);
		}
	}

	// Additional styles.
	&.button--pill {

		@include button--pill();
	}

	&.button--blank {

		@include button--blank();
	}

	&.button--text {
		color: gray("700");
		background: none;
		border: 0;
		padding: 0;

		&:hover {
			color: initial;

			&::after {
				background: none;
			}
		}
	}
}
