.button {

	@include button--color("primary");

	// Sizes.
	&--size-lg {

		@include button--size-sm();
	}

	&--size-sm {

		@include button--size-sm();
	}

	&--size-xs {

		@include button--size-xs();
	}

	&--size-block {

		@include button--size-block();
	}

	// Colors.
	@each $name, $hex in $theme-colors {

		&--#{$name} {

			@include button--color($name);
		}
	}

	// Additional styles.
	&--pill {

		@include button--pill();
	}

	&--blank {

		@include button--blank();
	}

	&--text {
		color: gray("700");
		background: none;
		border: 0;
		padding: 0;

		&:hover:after {
			background: none;
		}
	}
}
