.commentlist-title {

	@include single-product-section-title;
}

.commentlist {

	@include reset-list();
}

.comment {
	font-size: $font-size-sm;
	margin: $spacer 0;
	padding-bottom: $spacer;
}

.comment-text {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	.avatar {
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}

	.meta {
		margin: 0 $spacer;
	}

	.description {
		width: 100%;
	}
}
