.widget .facetwp-facet {
	margin-bottom: 0;

	.fs-wrap,
	.fs-dropdown {
		max-width: 100%;
	}

	.facetwp-star {
		display: flex;
		align-items: center;
		line-height: 1;
		margin-bottom: ($spacer / 2);

		&:last-child {
			margin-bottom: 0;
		}
	}

}

.facetwp-selections {

	ul {

		@include reset-list();
	}

	li[data-facet] {
		display: block;
		margin-bottom: 1rem;
	}
}

.facetwp-selection-label {
	display: block;
	margin: 0 0 0.5rem;
}

.facetwp-facet {
	position: relative;

	.facetwp-slider {
		border-color: transparent;
		box-shadow: none;
		background-color: gray("100");

		.noUi-connect {
			background-color: theme-color("primary");
		}

		.noUi-handle {
			border-color: gray("200");
			box-shadow: none;
		}
	}

	.facetwp-star {

		.facetwp-counter {
			display: none;
		}

		.star-icon {
			background-image: url("../images/stars.svg");
		}
	}
}

.facetwp-autocomplete-update,
.facetwp-slider-reset {
	margin-top: ($spacer / 2);
	box-shadow: none;

	@include button--primary;
	@include button--size-xs;
}

.facetwp-search-wrap {
	display: flex;

	.facetwp-btn {
		top: 9px;
		right: 9px;

		&:before {
			background-size: 19px;
			background-position: center center;
		}
	}
}

.facetwp-type-date_range {

	.facetwp-date-min {
		margin-bottom: $spacer;
	}
}
