.widget .facetwp-facet {
	margin-bottom: 0;

	.fs-wrap,
	.fs-dropdown {
		max-width: 100%;
	}

	.facetwp-star {
		display: flex;
		align-items: center;
		line-height: 1;
		margin-bottom: ($spacer / 2);

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.facetwp-selections {

	ul {

		@include reset-list();
	}

	li[data-facet] {
		display: block;
		margin-bottom: 1rem;
	}
}

.facetwp-selection-label {
	display: block;
	margin: 0 0 0.5rem;
}

.facetwp-facet {

	.facetwp-submit,
	.facetwp-autocomplete-update,
	.facetwp-slider-reset {
		margin-top: ($spacer / 2);
		box-shadow: none;

		@include button--primary;
		@include button--size-sm;
	}
}

.facetwp-facet.facetwp-type-slider {
	position: relative;

	.facetwp-slider {
		border-color: transparent;
		box-shadow: none;
		background-color: gray("100");

		.noUi-connect {
			background-color: theme-color("primary");
		}

		.noUi-handle {
			border-color: gray("200");
			box-shadow: none;
		}
	}
}

.facetwp-facet.facetwp-type-star_rating {

	.facetwp-counter {
		display: none;
	}

	.star-icon {
		background-image: url("../images/stars.svg");
	}
}

.facetwp-facet.facetwp-type-search {
	
	.facetwp-search-wrap {
		display: flex;
	}

	.facetwp-btn {
		top: 9px;
		right: 9px;

		&:before {
			background-size: 19px;
			background-position: center center;
		}
	}
}

.facetwp-facet.facetwp-type-date_range {

	.facetwp-date-min {
		margin-bottom: $spacer;
	}
}

.facetwp-facet.facetwp-type-number_range {

	.facetwp-number {
		margin-bottom: $spacer;
	}
}

.facetwp-facet.facetwp-type-proximity {
	
	.location-wrap {
		display: block;
	}

	.locate-me {
		top: 9px;
		right: 9px;
	}

	.facetwp-radius {
		margin-top: $spacer;
	}
}
