.flatpickr-calendar {

	.flatpickr-months .flatpickr-month,
	.flatpickr-day {
		color: gray("800");
	}

	.flatpickr-months .flatpickr-month {
		fill: gray("800");
	}

	.flatpickr-day.today {

		@include theme-color("border-color", "primary");

		&:hover,
		&:focus {

			@include theme-color("background-color", "primary");
			@include theme-color("border-color", "primary");
		}
	}

	.flatpickr-day {

		@include border-radius();
	}

	.flatpickr-day.selected,
	.flatpickr-day.startRange,
	.flatpickr-day.endRange,
	.flatpickr-day.selected.inRange,
	.flatpickr-day.startRange.inRange,
	.flatpickr-day.endRange.inRange {

		@include theme-color("background-color", "primary");
		@include theme-color("border-color", "primary");

		&:focus,
		&:hover {

			@include theme-color("background-color", "primary");
			@include theme-color("border-color", "primary");
		}
	}

	.flatpickr-day.inRange,
	.flatpickr-day.prevMonthDay.inRange,
	.flatpickr-day.nextMonthDay.inRange,
	.flatpickr-day.today.inRange,
	.flatpickr-day.prevMonthDay.today.inRange,
	.flatpickr-day.nextMonthDay.today.inRange {

		&:hover {
			background-color: gray("100");
			border-color: gray("300");
		}
	}
}
