.footer-nav {
	margin-top: auto;
	margin-bottom: ($spacer * 2);
	padding-top: ($spacer * 2);
	border-top: 1px solid theme-color("light");
}

.footer-widget {
	border: 0;

	a {
		color: gray("600");
	}

	.menu,
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul ul {
		padding: 0 0 0 ( $spacer * 2 );
	}
}
