.footer-nav {
	border-top: 1px solid gray("100");

	@include vertical-spacing("margin", "up");
	@include vertical-spacing("padding", "both", (
		sm: 2,
	) );
}

// Keep sticky.
.container + .footer-nav {
	margin-top: 0;
}

.footer-nav__row {

	@include make-row();
}

.footer-nav__col {

	@include col();

	flex-grow: 1;
	flex-basis: 100%;

	@include media-breakpoint-up(sm) {
		flex-basis: 50%;
	}

	@include media-breakpoint-up(md) {
		flex-basis: 0;
	}
}

.footer-widget {
	border: 0;
	padding-bottom: 0;

	.menu,
	> ul {

		@include reset-list();
	}

	ul ul {
		padding: 0 0 0 ( $spacer * 2 );
	}
}
