.footer-copyright {
	font-size: $font-size-xs;
	background: gray("100");

	p {
		@include make-col-ready();
	}
}

// No .footer-widgets available.
.container + .footer-copyright {
	margin-top: auto;
}
