.form-input {

	@include form-input;

	+ .button {
		margin-left: $spacer;
	}
}

textarea,
[type="email"],
[type="search"],
[type="tel"],
[type="url"],
[type="password"],
[type="text"] {
	width: 100%;
	display: block;
}

button {

	@include button;
}

[type="radio"],
[type="checkbox"] {
	margin: 0;
	padding: 0;
}
