textarea,
[type="email"],
[type="search"],
[type="tel"],
[type="url"],
[type="password"],
[type="text"] {
	width: 100%;
	display: block;

	@include form-input();

	&:focus {
		border-color: gray("400");
	}

	+ .button {
		margin-left: $spacer;
	}
}

select {
	font-size: $font-size-sm;
	margin: 0;
}

[type="submit"],
button {

	@include button();
}

[type="radio"],
[type="checkbox"] {
	margin: 0;
	padding: 0;
}

label .required {
	text-decoration: none;

	@include theme-color("color", "danger");
}
