textarea,
[type="email"],
[type="search"],
[type="tel"],
[type="url"],
[type="password"],
[type="text"] {
	width: 100%;
	display: block;

	@include form-input;

	+ .button {
		margin-left: $spacer;
	}
}

select {
	font-size: $font-size-sm;
	margin: 0;
}

button {

	@include button;
}

[type="radio"],
[type="checkbox"] {
	margin: 0;
	padding: 0;
}

label .required {
	color: theme-color("danger");
	text-decoration: none;
}
