p.has-background {
	padding: $spacer;

	@include border-radius();
}

.wp-block-cover-image,
.wp-block-quote,
.wp-block-gallery,
.wp-block-separator,
.wp-block-image,
.wp-block-embed,
.wp-block-pullquote {

	@if ( $use-margins ) {

		@include vertical-spacing("margin", "both", (
			sm: 2,
			lg: 3,
		) );
	}
}

// Gutenberg currently uses <figure>
// @see https://github.com/WordPress/gutenberg/pull/5706
.wp-block-image {
	max-width: none;

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

// Gutenberg currently uses <ul>
// @see https://github.com/WordPress/gutenberg/issues/5890
.wp-block-gallery {
	padding: 0;
	list-style: none;

	&.alignnone {
		margin-left: -8px;
		margin-right: -8px;
	}
}

.wp-block-separator {
	max-width: 200px;
}

// [1] Allow .button--size-x classes to be used to
// adjust the size but do not apply the padding to the wrapper.
.wp-block-button {
	padding: 0 !important; // [1]

	& .wp-block-button__link {

		@include button();

		&.editor-rich-text__tinymce[data-is-placeholder-visible=true] {
			position: absolute;
		}
	}

	&.button--size-lg {

		.wp-block-button__link {

			@include button--size-lg();
		}
	}

	&.button--size-sm {

		.wp-block-button__link {

			@include button--size-sm();
		}
	}

	&.button--size-xs {

		.wp-block-button__link {

			@include button--size-xs();
		}
	}
}

.wp-block-quote:not(.is-large) {
	border-left: 4px solid gray("700");
	padding-left: $spacer;
}

.wp-block-table {
	display: table;

	td,
	th {
		border: 0;
	}
}

.wp-block-quote {
	margin-left: 0;
	margin-right: 0;
}

p.wp-block-subhead {
	font-style: normal;
}

@for $heading from 1 through 6 {

	h#{$heading} + p.wp-block-subhead {
		margin-top: -($spacer);
	}
}

.wp-block-cover-image-text {
	font-weight: $font-weight-bold;
}

.wp-block-columns {

	.wp-block-column {
		margin: 0 $spacer;
	}

	&.wp-block-flush-columns {

		.wp-block-column {
			margin: 0;
		}
	}
}

.wp-block-embed {

	&.alignnone {
		margin-left: 0;
		margin-right: 0;
	}

	iframe,
	object {
		width: 100%;
	}
}
