//
// Generate colors for Gutenberg.
//
// [1] Merge in black and white that are not defined in SCSS.
// [2] Link to the potential @import context.
//


// [1]
$wb: (
	black: #000,
	white: #fff,
);

@each $name, $hex in map-merge($theme-colors, $wb) {

	&.has-#{$name}-background-color, // [2]
	.has-#{$name}-background-color {
		background-color: $hex;

		@include border-radius();

		.is-high-contrast & {
			background-color: theme-color-contrast($name);
		}
	}

	&.has-#{$name}-color, // [2]
	.has-#{$name}-color {

		&,
		a {
			color: $hex;

			.is-high-contrast & {
				color: theme-color-contrast($name);
			}
		}
	}
}

@each $name, $hex in $grays {

	&.has-gray-#{$name}-background-color, // [2]
	.has-gray-#{$name}-background-color {
		background-color: $hex;
	}

	&.has-gray-#{$name}-color, // [2]
	.has-gray-#{$name}-color {

		&,
		a {
			color: $hex;
		}
	}
}
