.hentry {
	line-height: 2em;
}

$map: (
	sm: 2,
	lg: 3,
);

.gallery,
.wp-block-cover-image,
.wp-block-quote,
.wp-block-gallery,
.wp-block-separator,
.wp-block-image,
.wp-block-embed,
.wp-block-pullquote {

	@include vertical-spacing("margin", "both", $map);
}

// Assume most standard pages (full width) will be used with Gutenberg.
.hentry--page {

	h2 {

		@include section-title();
	}
}

// Gutenberg currently uses <figure>
// @see https://github.com/WordPress/gutenberg/pull/5706
.wp-block-image {

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

// Gutenberg currently uses <ul>
// @see https://github.com/WordPress/gutenberg/issues/5890
.wp-block-gallery {
	padding: 0;
	list-style: none;

	&.alignnone {
		margin-left: -8px;
		margin-right: -8px;
	}
}

.wp-block-separator {
	max-width: 200px;
}

.wp-block-button {

	.wp-block-button__link {

		@include button--primary();
	}
}

.wp-block-quote:not(.is-large) {
	border-left: 4px solid gray("700");
	padding-left: $spacer;
}

.gallery {

	@include make-row();
}

.gallery-item {
	text-align: center;
	margin: 0;
	padding: $spacer;
	display: block;

	img,
	a {
		display: block;
	}
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	box-shadow: none;
	background: none;
	display: block;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

.wp-caption {

}

.bypostauthor {

}
