.hentry {
	line-height: 2em;
}

// Assume most standard pages (full width) will be used with Gutenberg.
.hentry--page {

	h2 {
		@include single-product-section-title();

		margin-bottom: 0;
	}
}

// Gutenberg currently uses <figure>
// @see https://github.com/WordPress/gutenberg/pull/5706
.wp-block-image {

	@include vertical-spacing();

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

// Gutenberg currently uses <ul>
// @see https://github.com/WordPress/gutenberg/issues/5890
.wp-block-gallery {

	@include reset-list();
	@include vertical-spacing();

	&.alignnone {
		margin-left: -8px;
		margin-right: -8px;
	}
}

.wp-block-separator {
	margin: ($spacer * 3) auto;
	max-width: 200px;
}

.wp-block-pullquote {

	@include vertical-spacing();
}
