.hentry {
	line-height: ($line-height-base * 1.15);
}

.hentry--page {
	line-height: ($line-height-base * 1.35);

	h2 {

		@include section-title();
	}
}

.gallery {

	@include make-row();
}

.gallery-item {
	text-align: center;
	margin: 0;
	padding: $spacer;
	display: block;

	img,
	a {
		display: block;
	}
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	box-shadow: none;
	background: none;
	display: block;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
