$w: 24px;
$h: 24px;

.bigbox-icon {
	width: $w;
	height: $h;
	fill: gray("700");
}

//
// Static social that can be output inline on the frontend.
//
// <i class="bigbox-icon bigbox-icon--#{social}"></i>
//

$social: dribbble, facebook, github, google, reddit, rss, slack, twitch, twitter, wordpress, youtube;
$icons: arrow-right, arrow-left, cart, menu, search, star, star-empty, star-half, user;
$sizes: (
	xs: 0.5,
	sm: 0.75,
	lg: 1.25,
	xl: 1.75,
);

i.bigbox-icon {
	margin-right: ($spacer / 2);
	mask-size: $w $h;
	background-color: gray("700");
	display: inline-block;

	// Social icons.
	@each $logo in $social {

		&--#{$logo} {
			mask-image: url("../images/icons/logo-#{$logo}.svg");
		}
	}

	// Generic icons.
	@each $icon in $icons {

		&--#{$icon} {
			mask-image: url("../images/icons/#{$icon}.svg");
		}
	}

	// Sizes.
	@each $size, $multiplier in $sizes {
		$customW: ($w * $multiplier);
		$customH: ($h * $multiplier);

		&--size-#{$size} {
			width: $customW;
			height: $customH;
			mask-size: $customW $customH;
		}
	}

	a:hover & {
		background-color: theme-color("primary");
	}
}
