.navbar-mobile-toggle--open {
	width: 24px;
	height: 24px;
	margin-right: $spacer;

	@include media-breakpoint-up(md) {
		display: none;
	}

	&:hover svg,
	svg {
		fill: #fff;
	}
}

.navbar-mobile {
	padding: $spacer;
	width: calc(100% - 64px);
	max-width: 320px;
	position: fixed;
	top: 0;
	right: auto;
	left: 0;
	height: 100vh;
	background: #fff;
	transform: translateX(-100%);
	transition: transform 0.25s ease-in-out;
	z-index: 10;
	will-change: transform;

	.admin-bar & {
		top: 32px;
	}

	// [1] WordPress' built in class.
	.navbar-menu__items .menu-item, // [1]
	.navbar-menu__items .navbar-menu__item {
		font-size: $font-size-base;
		line-height: $line-height-base;

		a {
			padding: ($spacer / 2) 0;
		}
	}

	.sub-menu {

		@include reset-list();

		font-size: $font-size-sm;
		margin: 0 0 0 ($spacer / 2);
		padding: 0 0 0 $spacer;
		border-left: 1px solid gray("300");
	}
}

.navbar-mobile:target,
.navbar-mobile[aria-expanded="true"] {
	transform: none;
}

.navbar-mobile-backdrop {
	cursor: default;
	position: fixed;
	visibility: hidden;
	content: "";
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5;
	background: none;
	transition: background 0.2s ease;
	display: block;
}

.navbar-mobile:target + .navbar-mobile-backdrop,
.navbar-mobile[aria-expanded="true"] + .navbar-mobile-backdrop {
	background: rgba(0, 0, 0, 0.5);
	visibility: visible;
}

.navbar-mobile__close {
	font-size: $font-size-sm;
	text-transform: uppercase;
	display: block;
	margin: ( -$spacer ) ( -$spacer ) $spacer;
	padding: $spacer;
	background: gray("100");
	border-bottom: 1px solid gray("200");
}
