.navbar-mobile-toggle--open {
	width: 24px;
	height: 22px;
	margin-right: $spacer;

	@include media-breakpoint-up(md) {
		display: none;
	}

	&:hover .bigbox-icon,
	.bigbox-icon {
		fill: #fff;
	}
}

// Because .sub-menu items act as panels that look like top level items we
// can style things a little more liberally here.
//
// [1] Because I can't stop this flow.
.navbar--mobile {
	max-width: 320px; // [1]

	ul {
		max-width: 320px; // [1]

		@include reset-list();

		a {
			text-decoration: none;
			padding: ($spacer / 2) ($spacer * 1.5);
		}
	}

	.sub-menu,
	.navbar-menu__items {
		padding: ($spacer / 2) 0;
		border-bottom: 1px solid gray("200");
		max-width: 320px; // [1]

		&:last-child {
			border-bottom: 0;
		}
	}

	.sub-menu {
		display: none;
	}

	li.menu-item-has-children--active {
		position: fixed;
		top: 54px;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		z-index: 2;
		padding-top: 1rem;
		max-width: 320px; // [1]
		display: flex;
		align-items: flex-start;

		&::after {
			top: 23px;
			left: ($spacer * 1.5);
			right: auto;
			border-left: none;
			border-right: 4px solid gray("400");
		}

		> a {
			font-weight: bold;
			padding-left: 1rem;
		}

		> .sub-menu {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: #fff;
		}
	}

	.menu-item-has-children {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 1rem;
			top: calc(50% - 5px);
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 4px solid gray("400");

			.rtl & {
				border-left: 0;
				border-right: 4px solid gray("400");
				left: 1rem;
				right: auto;
			}
		}
	}

	.menu-item-is-back {

		a {
			font-weight: $font-weight-bold;
			padding-left: ($spacer * 2.75);
		}
	}
}

.menu-item-is-back {

	@include media-breakpoint-up($menu-break-point) {
		display: none;
	}
}
