.navbar {
	color: color("white");
	background: theme-color("primary");
	
	@include make-container();
}

.navbar__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
}
