.navbar {
	background: theme-color("primary");
	position: relative;

	@include make-container();

	&:before {
		background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent);

		@include pseudo-overlay();
	}
}

.navbar__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: $spacer;
	padding-bottom: $spacer;
	position: relative;

	$map: (
		md: 0.5,
	);

	@include vertical-spacing("padding", "both", $map);

	.navbar--min & {
		$map: (
			md: 1.25,
		);

		@include vertical-spacing("padding", "both", $map);
	}
}
