.navbar {
	background: theme-color('primary');
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: $grid-gutter-width / 2;
	padding-left: $grid-gutter-width / 2;
	padding-right: $grid-gutter-width / 2;
	border-radius: $border-radius;
}
