.navbar-search {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
	order: 3;
	margin-top: $spacer;
	box-shadow: 0 0 10px darken(theme-color("primary"), 5%);
	width: 100%;
	position: relative;

	@include media-breakpoint-up(md) {
		order: 2;
		margin: 0 $spacer;
		width: auto;
	}
}

.navbar-search__category,
.navbar-search__submit {
	flex: 0 1 auto;
	display: flex;
}

.navbar-search__category {
	order: 0;
	display: none;

	select {
		appearance: none;
		color: theme-color("dark");
		font-size: 0.75rem;
		background: gray("100");
		border: 0;
		border-right: 1px solid gray("300");
		border-radius: $border-radius 0 0 $border-radius;
		padding: 0 15px;
	}
}

.navbar-search__keywords {
	order: 1;
	flex: 1;

	[type="search"] {
		border: 0;
		border-radius: $border-radius 0 0 $border-radius;
	}
}

.navbar-search__submit {
	order: 2;

	[type="submit"] {

		@include form-input;

		cursor: pointer;
		font-size: 0.9rem;
		color: color("white");
		padding: 0 ( $spacer / 2 );
		background-color: color("white");
		border: 0;
		border-radius: 0 $border-radius $border-radius 0;

		&:hover {
			box-shadow: none;
		}
	}

	svg {
		fill: darken( color("blue"), 10% );
	}
}
