.navbar-mobile-toggle--open {
	width: 24px;
	height: 24px;
	margin-right: $spacer;

	@include media-breakpoint-up(md) {
		display: none;
	}

	&:hover svg,
	svg {
		fill: #fff;
	}
}

// Because .sub-menu items act as panels that look like top level items we
// can style things a little more liberally here.
.navbar--mobile {

	ul {
		max-width: 320px;

		@include reset-list();

		a {
			text-decoration: none;
		}
	}

	li {
		padding: ($spacer / 2) ($spacer * 1.5);
		display: flex;
	}

	.sub-menu,
	.navbar-menu__items {
		padding: ($spacer / 2) 0;
		border-bottom: 1px solid gray("200");
		max-width: 320px;

		&:last-child {
			border-bottom: 0;
		}
	}

	.sub-menu {
		display: none;
	}

	li.menu-item--opened {
		position: fixed;
		top: 54px;
		left: 0;
		right: 0;
		bottom: 0;
		background: #fff;
		z-index: 2;
		padding-top: 1rem;

		&:after {
			mask-image: url("../images/arrow-left.svg");
			top: 16px;
		}

		> a {
			font-weight: bold;
		}

		> .sub-menu {
			display: block;
			position: absolute;
			top: 40px;
			left: 0;
			right: 0;
		}
	}

	.menu-item-has-children {
		position: relative;

		&:after {
			content: "";
			line-height: 1;
			position: absolute;
			right: ($spacer * 1.5);
			top: 11px;
			mask-image: url("../images/arrow-right.svg");
			background-color: gray("800");
			width: 11px;
			height: 19px;
		}
	}
}

.mobile-menu-children-toggle {
	display: block;
	flex: 1;
	margin-left: 1rem;
	max-height: 20px;
}
