.navbar-search {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
	order: 3;
	margin-top: $spacer;
	box-shadow: 0 0 10px darken(theme-color("primary"), 5%);
	width: 100%;
	position: relative;

	@include media-breakpoint-up(md) {
		order: 2;
		margin: 0 $spacer;
		width: auto;
	}
}

.navbar-search__category,
.navbar-search__submit {
	flex: 0 1 auto;
	display: flex;
}

.navbar-search__category {
	order: 0;

	select {
		appearance: none;
		color: theme-color("dark");
		font-size: $font-size-xs;
		background: #fff;
		border: 0;
		border-right: 1px solid gray("200");
		border-radius: $border-radius 0 0 $border-radius;
		padding: 0 15px;

		&:last-of-type {
			display: none;
		}
	}
}


.navbar-search__keywords {
	flex: 1;

	[type="search"] {
		border: 0;
		border-radius: 0;
	}
}

.navbar-search__submit {

	[type="submit"] {

		@include form-input;

		cursor: pointer;
		font-size: $font-size-sm;
		color: #fff;
		padding: 0 ( $spacer / 2 );
		background-color: #fff;
		border: 0;
		border-radius: 0 $border-radius $border-radius 0;

		&:hover {
			box-shadow: none;
		}
	}

	svg {
		fill: theme-color("primary");
	}
}
