.navbar {
	background: theme-color("primary");
	position: relative;

	:focus {
		outline-color: $white;
	}
}

.navbar__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: $spacer;
	padding-bottom: $spacer;
	position: relative;

	$map: (
		md: 0.5,
	);

	@include vertical-spacing("padding", "both", $map);

	.navbar--min & {
		justify-content: center;

		$map: (
			md: 1.25,
		);

		@include vertical-spacing("padding", "both", $map);
	}
}
