.navbar {
	background: theme-color("primary");
	
	@include make-container();
}

.navbar__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: $spacer;
	padding-bottom: $spacer;
}
