.navbar-menu {
	width: auto;
}

.navbar-menu--secondary {
	width: 100%;
	padding-top: $grid-gutter-width / 4;
	padding-bottom: $grid-gutter-width / 4;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu__items {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.navbar-menu__item {
	font-size: 0.85rem;
	line-height: 1;

	a {
		color: color("white");
		opacity: 0.95;
		padding: 7px 10px;
		border: 1px solid transparent;
		border-radius: $border-radius;
		display: flex;
		align-items: center;
		position: relative;

		&:hover {
			opacity: 1;
			text-decoration: none;
			border: 1px solid rgba(color("white"), 0.3);
		}
	}

	svg {
		fill: color("white");
		width: 12px;
		height: 12px;
		margin-right: 4px;
	}
}

.navbar-menu__item--stacked {

	a {
		text-align: center;
		line-height: 1;
		min-width: 80px;
		padding: 4px 10px;
		flex-direction: column;
	}

	svg {
		margin: 0 0 2px;
		display: block;
		width: 20px;
		height: 20px;
	}
}

.navbar-menu__item--parent {

	svg {
		margin: 0 0 0 5px;
		width: 9px;
	}
}

.navbar-menu__cart-count {
	font-size: 0.75rem;
	line-height: 1;
	position: absolute;
	top: -7px;
	left: 50%;
	transform: translateX(-25px);
	background: theme-color("success");
	border-radius: 15px;
	min-width: 20px;
	height: 20px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
