.navbar-menu {
	width: auto;
	display: flex;
}

.navbar-menu--primary {
	order: 1;
	margin-left: auto;

	@include media-breakpoint-up(md) {
		order: 3;
	}

	.navbar-menu__items {
		display: flex;
	}
}

.navbar-menu--secondary {
	width: 100%;
	padding-top: $spacer / 2;
	padding-bottom: $spacer / 2;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	justify-content: space-between;
	align-items: center;
	display: none;

	@include media-breakpoint-up(md) {
		display: flex;
	}
}

.navbar-menu__items {
	margin: 0;
	padding: 0;
	list-style: none;

	@include media-breakpoint-up(md) {
		display: flex;

		.sub-menu {
			visibility: hidden;
			opacity: 0;
			width: 200px;
			margin: 0;
			padding: $spacer;
			list-style: none;
			background: color("white");
			position: absolute;
			z-index: 10;
		}
	}
}

// [1] No unique class for reusable menus.
.navbar-menu__items > .menu-item, // [1]
.navbar-menu__items > .navbar-menu__item {
	font-size: $font-size-sm;
	line-height: 1;

	> a {
		color: color("white");
		opacity: 0.95;
		padding: 7px 10px;
		border: 1px solid transparent;
		border-radius: $border-radius;
		display: flex;
		align-items: center;
		position: relative;

		&:hover {
			opacity: 1;
			text-decoration: none;
			border: 1px solid rgba(color("white"), 0.2);
		}
	}

	&:hover .sub-menu {
		opacity: 1;
		visibility: visible;
	}

	svg {
		fill: color("white");
		width: 12px;
		height: 12px;
		margin-right: 4px;
	}
}

.navbar-menu__items > .navbar-menu__item--stacked {

	> a {
		text-align: center;
		line-height: 1;
		min-width: 80px;
		padding: 4px 10px;
		flex-direction: column;
	}

	svg {
		margin: 0 0 2px;
		display: block;
		width: 20px;
		height: 20px;
	}
}

.navbar-menu__item--parent {

	svg {
		margin: 0 0 0 5px;
		width: 9px;
	}
}

.navbar-menu__cart-count {
	font-size: $font-size-xs;
	line-height: 1;
	position: absolute;
	top: -7px;
	left: 50%;
	transform: translateX(-25px);
	background: theme-color("success");
	border-radius: 15px;
	min-width: 20px;
	height: 20px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
