.navbar-search {
	display: flex;
	flex-wrap: wrap;
	flex: 1 0 auto;
	order: 3;
	margin-top: $spacer;
	min-height: 40px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	width: 100%;
	position: relative;

	@include border-radius();

	@include media-breakpoint-up(md) {
		order: 2;
		margin: 0 $spacer;
		width: auto;
	}

	.facetwp-facet {
		margin: 0;
		display: flex;
		height: 100%;
	}
}

.navbar-search__category,
.navbar-search__submit {
	flex: 0 1 auto;
	display: flex;
}

.navbar-search__category {
	order: 0;
	position: relative;

	select {
		appearance: none;
		font-size: $font-size-xs;
		border-width: 0 1px 0 0;
		border-style: solid;
		padding: 0 30px 0 15px;

		@include gray("background-color", "100");
		@include gray("border-right-color", "300");
		@include border-left-radius();
	}

	&::after {
		content: "";
		position: absolute;
		right: 15px;
		top: calc(50% - 2px);
		width: 0;
		height: 0;
		border: 0;
		border-style: solid;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top-width: 4px;

		@include gray("border-top-color", "600");
	}

	+ .navbar-search__keywordss {

		[type="text"],
		[type="search"] {
			border-radius: 0;
		}
	}
}

#search-dropdown-real {
	display: flex;
}

#search-dropdown-placeholder {
	visibility: hidden;
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.navbar-search__keywords {
	flex: 1;

	[type="text"],
	[type="search"] {
		border: 0;
		height: 100%;

		@include border-left-radius();
	}

	.facetwp-search-wrap {
		width: 100%;

		i {
			display: none;
		}
	}
}

.navbar-search__submit {

	[type="submit"] {

		@include form-input();

		cursor: pointer;
		font-size: $font-size-sm;
		color: #fff;
		padding: 0 ( $spacer / 2 );
		background-color: #fff;
		border: 0;

		&:hover {
			box-shadow: none;
		}

		@include border-right-radius();
	}

	svg {

		@include theme-color("fill", "primary");
	}
}
