.navbar-menu {
	width: auto;
	display: flex;
}

.navbar-menu--primary,
.navbar-menu--secondary {

	.menu-item,
	.navbar-menu__item {
		position: relative;

		a {
			color: #fff;
			padding: $spacer 10px;
		}

		&:hover .sub-menu {
			opacity: 1;
			visibility: visible;
		}
	}

	.menu-item-has-children > a {
		position: relative;
		padding-right: ($spacer * 1.5);

		&:after {
			content: "";
			position: absolute;
			right: 7px;
			top: calc(50% - 2px);
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 4px solid color("white");
		}
	}

	.sub-menu {

		@include reset-list();

		visibility: hidden;
		opacity: 0;
		width: 200px;
		padding: ($spacer / 2) $spacer;
		background: #fff;
		border-radius: 0 0 $border-radius $border-radius;
		box-shadow: rgba(0, 0, 0, 0.3) 0 2px 12px;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 10;
		transition: all 0.15s ease-in-out;
		transform-origin: top left;

		li {
			font-size: $font-size-base;
			line-height: $line-height-base;
		}

		a {
			color: gray("600");
			padding: ($spacer / 3) 0;
			border: 0;

			&:hover {
				border: 0;
			}
		}
	}
}

.navbar-menu--primary {
	order: 1;
	margin-left: auto;

	@include media-breakpoint-up(md) {
		order: 3;
	}

	// Always in a line.
	.navbar-menu__items {
		display: flex;
	}
}

.navbar-menu--secondary {
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.08);
	justify-content: space-between;
	align-items: center;
	display: none;

	.menu-item,
	.navbar-menu__item {

		a:hover {
			text-decoration: underline;
		}
	}

	@include media-breakpoint-up(md) {
		display: flex;
	}
}

.navbar-menu__items {

	@include reset-list();

	@include media-breakpoint-up(md) {
		display: flex;
	}
}

// [1] WordPress' built in class.
.navbar-menu__items .menu-item, // [1]
.navbar-menu__items .navbar-menu__item {
	font-size: $font-size-sm;
	line-height: 1;

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		position: relative;
	}

	svg {
		fill: #fff;
		width: 12px;
		height: 12px;
		margin-right: 4px;
	}
}

.navbar-menu__items > .navbar-menu__item--stacked {

	a {
		text-align: center;
		line-height: 1;
		min-width: 80px;
		padding: 4px 10px;
		flex-direction: column;
		border: 1px solid transparent;
		border-radius: $border-radius;

		&:hover {
			opacity: 1;
			text-decoration: none;
			border: 1px solid rgba(255, 255, 255, 0.2);
		}
	}

	svg {
		margin: 0 0 2px;
		display: block;
		width: 20px;
		height: 20px;
	}
}

.navbar-menu__cart-count {
	font-size: $font-size-xs;
	line-height: 1;
	position: absolute;
	top: -7px;
	left: 50%;
	transform: translateX(-25px);
	background: theme-color("success");
	border-radius: 15px;
	min-width: 20px;
	height: 20px;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
