.navbar-search {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	flex: 1 0 auto;
	margin-left: $grid-gutter-width / 2;
	margin-right: $grid-gutter-width / 2;
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
}

.navbar-search__category,
.navbar-search__submit {
	flex: 0 1 auto;
	display: flex;
}

.navbar-search__category {
	order: 0;

	select {
		appearance: none;
		color: theme-color('dark');
		font-size: 0.75rem;
		background: gray('100');
		border: 0;
		border-right: 1px solid gray('300');
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding: 0 15px;
	}
}

.navbar-search__keywords {
	order: 1;
	flex: 1;

	[type="search"] {
		border: 0;
		border-radius: 0;
	}
}

.navbar-search__submit {
	order: 2;

	[type="submit"] {

		@include form-input;

		cursor: pointer;
		font-size: 0.90rem;
		color: $white;
		padding: 0 $grid-gutter-width;
		font-weight: 400;
		background: theme-color('primary');
		border: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}

	svg {
		fill: $white;
	}
}
