.navbar-menu {
	width: 100%;
	padding-top: $grid-gutter-width / 2;
	padding-bottom: $grid-gutter-width / 2;
	border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.navbar-menu__items {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.navbar-menu__item {
	font-size: 0.90rem;

	a {
		color: #fff;
		opacity: 0.90;
		padding: 5px 10px;
		border: 1px solid transparent;
		border-radius: $border-radius;

		&:hover {
			opacity: 1;
			text-decoration: none;
			border: 1px solid rgba(color('white'), 0.20);
			box-shadow: 0 1px 0 rgba(color('black'), 0.20), 0 1px 2px rgba(color('black'), 0.40), 0 0 5px rgba(color('white'), 0.10);
		}
	}
}
