// Lock body.
.offcanvas-drawer-open {
	overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;

	// [1] A hard limit for now -- might need to be dynamic JS to calculate height of close button.
	$offset: 52px;

	// Scroll drawer content (keep close fixed).
	.offcanvas-drawer .offcanvas-drawer__content {
		position: absolute;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		height: calc(100% - #{$offset}); // [1]
	}

	&.admin-bar {
		padding-top: $wp-admin-bar-height;

		@include admin-bar-mobile() {
			padding-top: $wp-admin-bar-height-mobile;
		}
	}
}

.offcanvas-drawer {
	width: calc(100% - 64px);
	max-width: 320px;
	position: fixed;
	top: 0;
	right: auto;
	left: 0;
	height: 100vh;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
	transform: translate3d(-110%, 0, 0);
	transition: transform 0.25s ease-in-out;
	z-index: 100001;
	will-change: transform;
}

#navbar-mobile,
#shop-filters-mobile {

	&[aria-expanded="true"],
	&:target {
		transform: none;

		+ .offcanvas-drawer-backdrop {
			background: rgba(0, 0, 0, 0.5);
			visibility: visible;
		}
	}
}

.offcanvas-drawer-backdrop {
	cursor: w-resize;
	position: fixed;
	visibility: hidden;
	content: "";
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	background: none;
	transition: background 0.2s ease;
	display: block;

	.rtl & {
		cursor: e-resize;
	}
}

.offcanvas-drawer__close {
	cursor: w-resize;
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	text-decoration: none;
	display: block;
	padding: $spacer ($spacer * 1.5);
	border-width: 0 0 1px;
	border-style: solid;
	position: relative;

	@include gray("background-color", "100");
	@include gray("border-color", "200");

	&::before {
		content: "";
		border-width: 2px 2px 2px 6px;
		border-style: solid;
		width: 15px;
		height: 17px;
		display: inline-block;
		vertical-align: middle;
		margin: -3px 5px 0 0;

		@include gray("border-color", "700");
	}
}
