.offcanvas-drawer {
	padding: $spacer;
	width: calc(100% - 64px);
	max-width: 320px;
	position: fixed;
	top: 0;
	right: auto;
	left: 0;
	height: 100vh;
	background: #fff;
	transform: translateX(-100%);
	transition: transform 0.25s ease-in-out;
	z-index: 100001;
	will-change: transform;
}

#navbar-mobile,
#shop-filters-mobile {

  [aria-expanded="true"],
  &:target {
    transform: none;

    + .offcanvas-drawer-backdrop {
      background: rgba(0, 0, 0, 0.5);
      visibility: visible;
    }
  }
}

.offcanvas-drawer-backdrop {
	cursor: default;
	position: fixed;
	visibility: hidden;
	content: "";
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	background: none;
	transition: background 0.2s ease;
	display: block;
}

.offcanvas-drawer__close {
	font-size: $font-size-sm;
	text-transform: uppercase;
	display: block;
	margin: ( -$spacer ) ( -$spacer ) $spacer;
	padding: $spacer;
	background: gray("100");
	border-bottom: 1px solid gray("200");
}
