.page-title {
	font-size: $font-size-lg;
	line-height: 1;
	margin: 0 0 $spacer;

	&:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	@include media-breakpoint-up(md) {
		font-size: $font-size-xl;
	}

	&--lg {
		font-weight: bolder;

		@include media-breakpoint-up(lg) {
			font-size: ($font-size-xl * 1.5);
		}
	}

	&--xl {
		font-weight: bolder;

		@include media-breakpoint-up(xl) {
			font-size: ($font-size-xl * 2);
		}
	}

	&--centered {
		text-align: center;
	}
}
