.page-title {
	font-size: $font-size-xl;
	line-height: 1;
	margin: 0 0 $spacer;
	padding: 0 0 $spacer;
	border-bottom: 2px solid gray("200");

	&:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&--lg {
		font-size: ($font-size-xl * 2);
		font-weight: bolder;
	}
}
