.page-title {
	font-size: $font-size-xl;
	line-height: 1;
	margin: 0 0 $spacer;
	padding: 0 0 $spacer;
	border-bottom: 2px solid gray("200");

	&:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&--lg {
		font-weight: bolder;

		@include media-breakpoint-up(lg) {
			font-size: ($font-size-xl * 1.5);
		}
	}

	&--xl {
		font-weight: bolder;

		@include media-breakpoint-up(xl) {
			font-size: ($font-size-xl * 2);
		}
	}
}
