.price {
	display: flex;
	align-items: center;

	@include media-breakpoint-up(xl) {	
		font-size: $font-size-lg;
	}

	.woocommerce-Price-currencySymbol,
	sup {
		font-size: 0.6em;
		vertical-align: top;
		margin-top: 2px;
		margin-right: 2px;
		display: inline-block;
	}

	sup:last-child {
		opacity: 0.5;
	}

	> a {
		display: flex;
		align-items: center;
	}

	ins {
		text-decoration: none;
	}

	ins {
		order: 0;
	}

	del {
		order: 1;
	}

	del {
		font-size: 0.9em;
		margin-left: 6px;
		opacity: 0.45;

		sup {
			vertical-align: top;
			font-size: 0.75em;
		}
	}

	.subtotal {
		text-decoration: none;
	}
}
