.price {
	font-size: $font-size-lg;
	color: initial;
	display: flex;
	align-items: center;

	.woocommerce-Price-currencySymbol,
	sup {
		font-size: 0.6em;
		vertical-align: top;
		margin-top: 2px;
		display: inline-block;
	}

	sup:last-child {
		opacity: 0.5;
	}

	// An additional anchor is added on product cards.
	> a {
		color: initial;
		display: flex;
		align-items: center;
	}

	a:hover,
	ins {
		text-decoration: none;
	}

	ins {
		order: 0;
	}

	del {
		order: 1;
	}

	del {
		font-size: 0.90em;
		margin-left: 6px;
		opacity: 0.45;

		sup {
			vertical-align: top;
			font-size: 0.75em;
		}
	}

	.subtotal {
		text-decoration: none;
	}
}
