.woocommerce-page ul.products,
.woocommerce ul.products {
	li.product.product-category {
		flex-direction: column;
		margin: 0 0 ( $grid-gutter-width / 2 ); 
		padding: 0;
		border: 0;

		@include make-col-ready;
		@include make-col(12);

		@include media-breakpoint-up(sm) {

			@include make-col(6);
		}

		@include media-breakpoint-up(md) {

			@include make-col(4);
		}

		@include media-breakpoint-up(lg) {

			@include make-col(3);
		}

		a {
			color: initial;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			@include card;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.woocommerce-loop-category__title {
	font-weight: 500;
	font-size: 1rem;
	text-align: center;
	margin: 0;
	padding: $spacer;
	border-top: 1px solid gray('300');
	background: rgba(gray('100'), 0.80);
	flex: 1;

	.count {
		display: none;
	}
}
