.woocommerce-page ul.products,
.woocommerce ul.products {

	&:not(:first-child) {
		margin-top: 0;
		margin-bottom: 0;
	}

	li.product.product-category {
		flex-direction: column;
		margin: 0 0 ( $spacer * 2 ); 
		padding: 0;
		border: 0;

		@include make-col-ready;
		@include make-col(6);

		@include media-breakpoint-up(sm) {

			@include make-col(4);
		}

		@include media-breakpoint-up(md) {

			@include make-col(3);
		}

		@include media-breakpoint-up(lg) {

			@include make-col(2.5);
		}

		a {
			color: gray("700");
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			@include card;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.woocommerce-loop-category__title {
	font-weight: $font-weight-bold;
	font-size: $font-size-base;
	text-align: center;
	margin: 0;
	padding: $spacer;
	border-top: 1px solid gray("200");
	background: rgba(gray("100"), 0.8);
	flex: 1;

	.count {
		display: none;
	}
}
