.woocommerce-page ul.products,
.woocommerce ul.products {
	li.product {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 0 ( $grid-gutter-width / 3 ); 
		padding: 0 0 ( $grid-gutter-width / 3 ); 
		width: 100%;
		border-bottom: 1px solid gray('300');
	}
}

.product__preview {
	max-width: 175px;

	img {
		display: block;
	}
}

.product__description {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: $spacer;
	position: relative;
	height: 100%;
}

.woocommerce-loop-category__title,
.woocommerce-loop-product__title,
.product__title {
	font-weight: 400;
	font-size: 1.15rem;
	margin: 0;
	order: 0;
}

.product__stats {
	line-height: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: ( $vertical-spacer / 4 ) 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.product__shipping {
	font-size: 0.75rem;
	opacity: 0.50;
	order: 0;
}

.product__sale {
	margin-left: 10px;

	a {
		color: color("white");
		font-size: 0.75rem;
		line-height: 1;
		text-transform: uppercase;
		font-weight: 700;
		background: color("green");
		border-radius: $border-radius;
		padding: 5px 5px 4px;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}
}

.product__has-variations {
	a {
		color: gray('600');
		font-size: 0.75rem;
		background: gray('100');
		border: 1px solid gray('300');
		border-radius: $border-radius;
		padding: 5px 5px 4px;

		&:hover {
			color: gray('800');
			text-decoration: none;
			border: 1px solid gray('500');
		}
	}
}
