@mixin horizontal-card {
	padding-top: 0;
	padding-bottom: 0;

	.product__description {
		padding: 0 $spacer;
	}

	.product__inner {
		flex-direction: row;
	}
}

.woocommerce-page ul.products,
.woocommerce ul.products {

	li.product {
		display: flex;
		
		@include make-col-ready;
		@include make-col(12);
	}

	&.columns-1 li.product {

		@include media-breakpoint-up(md) {
		
			@include horizontal-card;
		}

		&:first-child .product__inner {
			padding-top: 0;
		}
	}

	&.columns-2 li.product {

		@include media-breakpoint-up(xl) {
		
			@include horizontal-card;
		}
	}

	&.columns-2 li.product,
	&.columns-3 li.product,
	&.columns-4 li.product,
	&.columns-5 li.product {

		@include media-breakpoint-up(sm) {

			@include make-col(6);
		}
	}

	&.columns-3 li.product,
	&.columns-4 li.product,
	&.columns-5 li.product {

		@include media-breakpoint-up(lg) {

			@include make-col(4);
		}
	}

	&.columns-4 li.product,
	&.columns-5 li.product {

		@include media-breakpoint-up(xl) {

			@include make-col(3);
		}
	}

	&.columns-5 li.product {

		@include media-breakpoint-up(xl) {

			@include make-col(2.4);
		}
	}
}

.product__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	padding-top: $spacer; 
	padding-bottom: $spacer; 
	border-bottom: 1px solid gray("200");
}

.product__preview {
	max-width: 200px;

	@include media-breakpoint-up(lg) {
		max-width: 175px;
	}

	@include media-breakpoint-up(xl) {
		max-width: 150px;
	}

	img {
		display: block;
	}
}

.product__description {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: $spacer 0 0;
	height: 100%;
	position: relative;
}

.woocommerce-loop-category__title,
.woocommerce-loop-product__title,
.product__title {
	color: theme-color("dark");
	font-weight: 400;
	font-size: 1rem;
	margin: 0;
	order: 0;
}

.product__stats {
	line-height: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: ( $vertical-spacer / 4 ) 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.product__shipping {
	color: gray("600");
	font-size: 0.85rem;
	order: 0;
}

.product__sale {
	display: inline-block;
	margin: ( $vertical-spacer / 4 ) 0;

	a {
		color: color("white");
		font-size: 0.75rem;
		line-height: 1;
		text-transform: uppercase;
		font-weight: 500;
		background: color("green");
		border-radius: $border-radius;
		padding: 5px 5px 4px;
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}
}

.product__has-variations {

	a {
		color: gray("600");
		font-size: 0.75rem;
		background: gray("100");
		border: 1px solid gray("300");
		border-radius: $border-radius;
		padding: 5px 5px 4px;

		&:hover {
			color: gray("800");
			text-decoration: none;
			border: 1px solid gray("500");
		}
	}
}
