.woocommerce-page ul.products,
.woocommerce ul.products {

	li.product.product-category {
		flex-direction: column;
		margin: 0 0 ($spacer * 2);
		padding: 0;
		border: 0;

		@include make-col-ready;
		@include make-col(6);

		// Scale purchase form down as page expands.
		@include grow-column( (
			sm: 4,
			md: 3,
			lg: 2,
		) );

		a {
			text-decoration: none;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			@include card;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.woocommerce-loop-category__title {
	font-size: $font-size-sm;
	text-align: center;
	margin: 0;
	padding: ($spacer / 2) ($spacer / 4);
	border-top: 1px solid rgba(theme-color("primary"), 0.25);
	background: theme-color("light");
	flex: 1;

	.count {
		display: none;
	}
}
