.woocommerce-page ul.products-categories,
.woocommerce ul.products-categories {
	display: flex;
	overflow-x: scroll;
	position: relative;
	
	@include vertical-spacing("margin", "down");

	li.product.product-category {
		border-right: 1px solid rgba(theme-color("primary"), 0.1);
		background: rgba(theme-color("primary"), 0.08);
		display: flex;
		flex-direction: column;

		@include make-col-ready;
		@include make-col(5);

		// Scale purchase form down as page expands.
		@include grow-column( (
			sm: 2.9,
			md: 3.4,
			xl: 2,
		) );

		padding: 4px;

		&:first-child {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}

		&:last-child {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			border-right: 0;
		}

		a {
			text-decoration: none;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: $border-radius;
		}
	}
}

.product-category__more,
.woocommerce-loop-category__title {
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	text-align: center;
	margin: 4px 0 0;
	padding: ($spacer / 2) ($spacer / 4);
	background: #fff;
	border-bottom: 1px solid rgba(theme-color("primary"), 0.15);
	border-radius: $border-radius;
	flex: 1;
	align-items: center;
	display: flex;
	justify-content: center;

	.count {
		display: none;
	}
}

.product-category__more {
	margin: 0;
	padding: $spacer;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;

	select {
		margin-top: $spacer;
	}
}
