.woocommerce,
.woocommerce-page {
	ul.products {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 $vertical-spacer;
		padding: ( $grid-gutter-width / 3 ) 0 0;
		list-style: none;
		border-bottom: 1px solid gray('300');
	}
}
