// [1] Give any potential scrollbar more room so it does not overlap.
.woocommerce-page ul.products-categories,
.woocommerce ul.products-categories {
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding-bottom: $spacer; // [1]

	&:after {
		background: gray("100");

		@include pseudo-overlay();

		bottom: $spacer;
		height: calc(100% - #{$spacer});
		border-radius: $border-radius;
	}
	
	@include vertical-spacing("margin", "down");

	li.product.product-category {
		background: gray("100");
		border-right: 1px solid rgba(gray("300"), 0.5);
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;

		@include make-col-ready;
		@include make-col(5);

		// Scale purchase form down as page expands.
		@include grow-column( (
			sm: 2.9,
			md: 3.4,
			xl: 2,
		) );

		padding: 4px;

		&:first-child {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}

		&:last-child {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			border-right: 0;
		}

		a {
			text-decoration: none;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: auto;
			border-radius: $border-radius;
		}
	}
}

.product-category-more__inner,
.woocommerce-loop-category__title {
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	text-align: center;
	margin: 4px 0 0;
	padding: ($spacer / 2) ($spacer / 4);
	background: #fff;
	border-radius: $border-radius;
	box-shadow: 0 1px 0 rgba(gray("300"), 0.5);
	flex: 1;
	align-items: center;
	display: flex;
	justify-content: center;

	.count {
		display: none;
	}
}

.product-category-more__inner {
	margin: 0;
	padding: $spacer;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.product-category-more__menu {
	width: 100%;

	ul {

		@include reset-list();
	}
}

.product-category-more__selector {
	margin-top: $spacer;
	padding-top: $spacer;
	border-top: 1px solid rgba(gray("300"), 0.5);

	select {
		max-width: 100%;
	}
}
