.woocommerce,
.woocommerce-page {

	ul.products {
		margin-top: 0;
		margin-bottom: $vertical-spacer;
		padding: ( $grid-gutter-width / 3 ) 0 0;
		list-style: none;

		@include make-row;
		@include card;

		@include media-breakpoint-down(lg) {
			border-right: 0;
			border-radius: $border-radius 0 0 $border-radius;
		}
	}
}
