.woocommerce-page ul.products,
.woocommerce ul.products {
	li.product-category {
		flex-direction: column;
		padding: 0;

		@include card;

		@include media-breakpoint-up(sm) {
			margin: 0 2% 2% 0;
			flex-basis: 48%;
		}

		@include media-breakpoint-up(lg) {
			flex-basis: 31%;
		}

		@include media-breakpoint-up(xl) {
			margin: 0 1% 1% 0;
			flex-basis: 24%;
		}

		a {
			color: initial;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.woocommerce-loop-category__title {
	font-weight: 500;
	font-size: 1rem;
	text-align: center;
	margin: 0;
	padding: $spacer;
	border-top: 1px solid gray('300');
	background: rgba(gray('100'), 0.80);
	flex: 1;

	.count {
		display: none;
	}
}
