@mixin horizontal-card {
	padding-top: 0;
	padding-bottom: 0;

	.product__preview + .product__description {
		padding: 0 $spacer;
	}

	.product__inner {
		display: flex;
		align-items: flex-start;
		flex-flow: row wrap;
	}
}

@mixin vertical-card {
	margin-bottom: $spacer;

	.product__inner {
		display: block;
		padding-bottom: $spacer;
	}

	.product__preview + .product__description {
		padding: $spacer 0 0;
	}
}

/* stylelint-disable */
.woocommerce-page ul.products-main,
.woocommerce ul.products-main {

	li.product {

		@include make-col-ready;
		@include make-col(12);
		@include vertical-card();
	}

	// Single row.
	&.products--single-row {

		li.product .product__inner {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	li.product--order-item,
	li.product--cart-item {

		@include horizontal-card();

		// Cart only should bump back to vertical when purchase box is 50/50.
		.woocommerce-cart & {

			@include media-breakpoint-up(sm) {

				@include vertical-card();
			}
		}

		@include media-breakpoint-up(lg) {

			@include horizontal-card();
		}
	}

	&.columns-1 li.product {

		@include media-breakpoint-up(md) {

			@include horizontal-card();
		}

		&:first-child .product__inner {
			padding-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.columns-2 li.product {

		@include media-breakpoint-up(xl) {

			@include horizontal-card();
		}
	}

	&.columns-2 li.product,
	&.columns-3 li.product,
	&.columns-4 li.product,
	&.columns-5 li.product,
	&.columns-6 li.product {

		@include make-col(6);
	}

	&.columns-3 li.product,
	&.columns-4 li.product,
	&.columns-5 li.product,
	&.columns-6 li.product {

		@include media-breakpoint-up(sm) {

			@include make-col(4);
		}
	}

	&.columns-4 li.product,
	&.columns-5 li.product,
	&.columns-6 li.product {

		@include media-breakpoint-up(md) {

			@include make-col(3);
		}
	}

	&.columns-5 li.product,
	&.columns-6 li.product {

		@include media-breakpoint-up(lg) {

			@include make-col(2.4);
		}
	}

	&.columns-6 li.product {

		@include media-breakpoint-up(xl) {

			@include make-col(2);
		}
	}
}
/* stylelint-enable */

.product__inner {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid gray("200");

	a {
		text-decoration: none;
	}
}

.product__preview {
	max-width: 200px;

	// Shrink on cart and checkout.
	.product--order-item &,
	.product--cart-item & {
		max-width: 105px;
	}

	img {
		display: block;
	}
}

.woocommerce-product-gallery__image--placeholder,
.woocommerce-placeholder {
	border: 1px solid gray("300");
}

.product__description {
	position: relative;
	flex: 1;
}

.woocommerce-loop-category__title,
.woocommerce-loop-product__title,
.product__title {
	font-size: $font-size-sm;
	margin: 0;
	order: 0;

	@include media-breakpoint-up(lg) {
		font-size: $font-size-base;
	}

	@include media-breakpoint-up(xl) {
		font-size: $font-size-lg;
	}

	// When using more columns keep titles small.
	.columns-5 &,
	.columns-6 & {

		@include media-breakpoint-up(xl) {
			font-size: $font-size-base;
		}
	}

	// Shrink on cart and checkout.
	.product--order-item &,
	.product--cart-item & {

		@each $bp in ("lg", "xl") {

			@include media-breakpoint-up( $bp ) {
				font-size: $font-size-base;
			}
		}
	}

	a {
		display: block;
	}
}

.product__meta {
	line-height: 1;
	margin: ($spacer / 2) 0;

	&:last-child {
		margin-bottom: 0;
	}

	&.quantity {
		display: flex;
		align-items: center;
	}
}

.product__meta-label {
	font-size: $font-size-sm;
	margin-right: ($spacer / 2);
}

.product__stock {
	color: gray("600");
	font-size: $font-size-xs;
	line-height: $line-height-base;
	order: 0;
}

.product__sale {
	color: #fff;
	font-size: $font-size-xs;
	line-height: 1;
	text-decoration: none;
	display: inline-block;
	margin: 0 0 $spacer;
	padding: 3px 5px;

	@include theme-color("background-color", "success");
	@include border-radius();
}
