.woocommerce-page ul.products,
.woocommerce ul.products {

	&:not(:first-child) {
		margin-top: 0;
		margin-bottom: 0;
	}

	li.product.product-category {
		flex-direction: column;
		margin: 0 0 ($spacer * 2);
		padding: 0;
		border: 0;

		@include make-col-ready;
		@include make-col(6);

		// Scale purchase form down as page expands.
		$formBp: (
			sm: 4,
			md: 3,
			lg: 2,
		);

		@each $bp, $cols in $formBp {

			@include media-breakpoint-up($bp) {

				@include make-col($cols);
			}
		}

		a {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			@include card;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

.woocommerce-loop-category__title {
	font-size: $font-size-base;
	text-align: center;
	margin: 0;
	padding: $spacer;
	border-top: 1px solid gray("200");
	background: rgba(gray("100"), 0.8);
	flex: 1;

	.count {
		display: none;
	}
}
