@mixin horizontal-card {
	padding-top: 0;
	padding-bottom: 0;

	.product__preview + .product__description {
		padding: 0 $spacer;
	}

	.product__inner {
		display: flex;
		align-items: flex-start;
		flex-flow: row wrap;
	}
}

.woocommerce-page ul.products,
.woocommerce ul.products {

	li.product {

		@include make-col-ready;
		@include make-col(12);
	}

	&.columns-1 li.product {

		@include media-breakpoint-up(md) {

			@include horizontal-card;
		}

		&:first-child .product__inner {
			padding-top: 0;
		}
	}

	&.columns-2 li.product {

		@include media-breakpoint-up(xl) {

			@include horizontal-card;
		}
	}

	&.columns-2 li.product,
	&.columns-3 li.product,
	&.columns-4 li.product,
	&.columns-5 li.product {

		@include media-breakpoint-up(sm) {

			@include make-col(6);
		}
	}

	&.columns-3 li.product,
	&.columns-4 li.product,
	&.columns-5 li.product {

		@include media-breakpoint-up(md) {

			@include make-col(4);
		}
	}

	&.columns-4 li.product,
	&.columns-5 li.product {

		@include media-breakpoint-up(lg) {

			@include make-col(3);
		}
	}

	&.columns-5 li.product {

		@include media-breakpoint-up(xl) {

			@include make-col(2.4);
		}
	}
}

.product__inner {
	width: 100%;
	height: 100%;
	padding-top: $spacer;
	padding-bottom: $spacer;
	border-bottom: 1px solid gray("200");

	.product:only-child & {
		border-bottom: 0;
	}

	a {
		text-decoration: none;
	}
}

.product__preview {
	max-width: 200px;

	@include media-breakpoint-up(lg) {
		max-width: 175px;
	}

	@include media-breakpoint-up(xl) {
		max-width: 150px;
	}

	// Shrink on cart and checkout.
	.woocommerce-checkout &,
	.woocommerce-cart & {
		max-width: 100px;
	}

	img {
		display: block;
	}
}

.product__description {
	position: relative;
	flex: 1;
}

.product__preview + .product__description {
	padding: $spacer 0 0;
}

.woocommerce-loop-category__title,
.woocommerce-loop-product__title,
.product__title {
	font-size: $font-size-base;
	margin: 0;
	order: 0;
}

.product__stats {
	line-height: 1;
	margin: $spacer 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.product__stock {
	color: gray("600");
	font-size: $font-size-sm;
	line-height: $line-height-base;
	order: 0;
}

.product__sale {
	display: inline-block;
	margin: 0 0 $spacer;

	a {
		color: #fff;
		font-size: $font-size-xs;
		line-height: 1;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: $font-weight-bold;
		background: theme-color("success");
		border-radius: $border-radius;
		padding: 5px 5px 4px;
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}
}

.product__has-variations {

	a {

		@include button--pill;
	}
}
