// [1] Give any potential scrollbar more room so it does not overlap.
.woocommerce-page ul.products-categories,
.woocommerce ul.products-categories {
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
	padding-bottom: $spacer; // [1]
	padding-left: 2px;
	padding-right: 2px;

	&:after {
		background: gray("200");

		@include border-radius();
		@include pseudo-overlay();

		bottom: $spacer;
		height: calc(100% - #{$spacer});
	}
	
	@include vertical-spacing("margin", "down", (
		sm: 1,
	) );

	li.product.product-category {
		background: gray("100");
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;

		@include make-col-ready;
		@include make-col(5);

		// Scale purchase form down as page expands.
		@include grow-column( (
			sm: 2.9,
			md: 3.4,
			xl: 2,
		) );

		padding: 4px 2px;

		&:first-child {

			@include border-left-radius();
		}

		&:last-child {
			border-right: 0;

			@include border-right-radius();
		}

		a {
			text-decoration: none;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;

			&:hover h2 {
				color: theme-color("primary");
			}
		}

		img {
			width: 100%;
			height: auto;

			@include border-radius();
		}
	}
}

.product-category-more__inner,
.woocommerce-loop-category__title {
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	text-align: center;
	padding: ($spacer / 2) ($spacer / 4);
	background: #fff;
	box-shadow: 0 1px 0 rgba(gray("300"), 0.5);
	flex: 1;
	align-items: center;
	display: flex;
	justify-content: center;

	@include border-radius();

	.count {
		display: none;
	}
}

// Only add space when an image exists.
img + .woocommerce-loop-category__title {
	margin: 4px 0 0;
}

.product-category-more__inner {
	padding: $spacer;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.product-category-more__menu {
	width: 100%;

	ul {

		@include reset-list();
	}

	+ .product-category-more__selector {
		margin-top: $spacer;
		padding-top: $spacer;
		border-top: 1px solid rgba(gray("300"), 0.5);
	}
}

.product-category-more__selector {
	max-width: 100%;

	select {
		max-width: 100%;
	}
}
