.woocommerce-page ul.products,
.woocommerce ul.products {
	li.product {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 0 ( $grid-gutter-width / 2 ); 
		width: 100%;
		
		@include card;
	}
}

.product__preview {
	max-width: 175px;

	img {
		display: block;
	}
}

.product__description {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: $spacer;
	background: rgba(gray('100'), 0.80);
	position: relative;
	height: 100%;
}

.woocommerce-loop-product__title,
.product__title {
	font-weight: 400;
	font-size: 1rem;
	margin: ( $vertical-spacer / 2 ) 0;
	order: 1;
}

.product__stats {
	line-height: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	order: 2;
	margin: ( $vertical-spacer / 2 ) 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.product__shipping {
	font-size: 0.75rem;
	opacity: 0.50;
	order: 0;
}

.product__sale {
	position: absolute;
	top: 13px;
	right: -1px;
	order: 0;

	a {
		color: color("white");
		font-size: 0.75rem;
		line-height: 1;
		text-transform: uppercase;
		background: color("green");
		border-radius: $border-radius 0 0 $border-radius;
		padding: 5px 5px 4px;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}
}
