.select2-container--default {

	&:focus {

		.select2-selection--single {

			@include gray("border-color", "300");
		}
	}

	.select2-selection--single {
		margin: 0;
		height: auto;
		border-width: 1px;
		border-style: solid;

		@include gray("border-color", "300");
		@include border-radius();

		.select2-selection__rendered {
			font: #{$font-size-base}/1 $font-family-sans-serif;
			padding: 13px ($spacer / 2) 12px;
			min-height: 39px;

			@include gray("color", "700");
		}

		.select2-selection__arrow {
			height: calc(100% - 1px);
			right: 4px;
		}
	}

	.select2-results__options {
		font-size: $font-size-sm;
	}

	.select2-results__option--highlighted[data-selected] {

		@include theme-color("background-color", "primary");
	}
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option[data-selected=true] {

	@include gray("color", "700");
	@include gray("background-color", "700");
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {

	@include gray("border-color", "300");
}
