.select2-container--default {

	&:focus {

		.select2-selection--single {
			border-color: gray("300");
		}
	}

	.select2-selection--single {
		margin: 0;
		height: auto;
		border: 1px solid gray("300");
		border-radius: $border-radius;

		.select2-selection__rendered {
			color: gray("700");
			font: $font-weight-base #{$font-size-base}/1 $font-family-sans-serif;
			padding: 13px ($spacer / 2) 12px;
			min-height: 39px;
		}

		.select2-selection__arrow {
			height: calc( 100% - 1px );
			right: 4px;
		}
	}

	.select2-results__options {
		font-size: $font-size-sm;
	}

	.select2-results__option--highlighted[data-selected] {
		background-color: theme-color("primary");
	}
}
