.sharedaddy {

	@include vertical-spacing("margin", "both", (
		sm: 1,
	) );
}

.sd-content {

	ul {
		display: flex;
		justify-content: center;

		li {
			margin: 0 ($spacer / 2) ($spacer / 2);

		}
	}
}
