.shop-filters {

}

.shop-filters__mobile-toggle {
	position: absolute;
	right: 0;
	bottom: $spacer;

	@include media-breakpoint-up(md) {
		display: none;
	}
}

.shop-filters__mobile-toggle-link {
	font-size: $font-size-sm;
	font-weight: $font-weight-bold;
	text-decoration: none;
	display: flex;
	align-items: center;

	svg {
		margin-left: 5px;
		width: 18px;
		height: 18px;
	}
}

.product_list_widget,
.product-categories,
.woocommerce-widget-layered-nav-list {

	@include reset-list();
}

.product_list_widget {

	a {
		text-decoration: none;
		display: block;
	}

	li {
		margin-bottom: ($spacer * 1.5);
	}

	.product-title {
		font-size: $font-size-sm;
	}

	.product__meta {
		margin: ($spacer / 2) 0;
	}

	.price {
		line-height: 1;
	}

	del {
		display: none;
	}
}

.widget_layered_nav_filters {

	ul {
		display: flex;
		flex-flow: row wrap;

		@include reset-list();
	}

	li {
		margin-right: 5px;
	}

	a {

		@include button--pill;

		padding-left: 20px;
		position: relative;

		&:before {
			font-size: 21px;
			content: "\00d7";
			margin-right: 5px;
			position: absolute;
			left: 5px;
			top: 0;
		}
	}
}

.widget_price_filter {

	.ui-slider {
		position: relative;
		text-align: left;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		background-color: #fff;
		border: 2px solid theme-color("primary");
		width: 16px;
		height: 16px;
		border-radius: 50%;
		cursor: ew-resize;
		outline: none;
		top: -5px;

		/* rtl:ignore */
		margin-left: -10px;
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: 0.7em;
		display: block;
		border: 0;
		border-radius: $border-radius;
		background-color: theme-color("primary");
	}

	.price_slider_wrapper .ui-widget-content {
		border-radius: $border-radius;
		background-color: gray("200");
		border: 0;
	}

	.ui-slider-horizontal {
		height: 0.5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px;
	}

	.price_label,
	.price_slider,
	.price_slider_amount {
		margin-top: $spacer;
	}

	[type="text"] + button {
		margin-left: 0;

		@include button--size-xs;
	}

	.price_label {
		font-size: $font-size-xs;
	}
}

.widget_top_rated_products {

	.price {

		@include screen-reader-text();
	}
}

.widget_rating_filter {

	ul {

		@include reset-list();
	}
}

.wc-layered-nav-rating a {
	display: flex;
}
