.product_list_widget,
.product-categories,
.woocommerce-widget-layered-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.product_list_widget {

	a {
		text-decoration: none;
		display: block;
	}

	li {
		margin-bottom: $spacer;
	}

	.product-title {
		font-size: $font-size-sm;
	}

	.product__stats {
		margin: ($spacer / 2) 0;
	}

	.price {
		line-height: 1;
	}

	del {
		display: none;
	}
}
