.product_list_widget,
.product-categories,
.woocommerce-widget-layered-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.product_list_widget {

	a {
		display: block;
	}

	li {
		margin-bottom: 1rem;
		padding: 1rem;

		@include card;
	}

	.product__stats {
		margin: ( $spacer / 2 ) 0;
	}

	.price {
		line-height: 1;
	}
}
