.product_list_widget,
.product-categories,
.woocommerce-widget-layered-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.product_list_widget {

	a {
		text-decoration: none;
		display: block;
	}

	li {
		margin-bottom: $spacer;
	}

	.product-title {
		font-size: $font-size-sm;
	}

	.product__stats {
		margin: ($spacer / 2) 0;
	}

	.price {
		line-height: 1;
	}

	del {
		display: none;
	}
}

.widget_layered_nav_filters {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
	}

	li {
		margin-right: 5px;
	}
	
	a {
		@include button--pill;

		padding-left: 20px;
		position: relative;

		&:before {
			font-size: 21px;
			content: '\00d7';
			margin-right: 5px;
			position: absolute;
			left: 5px;
			top: 0;
		}
	}
}

.widget_price_filter {
	.ui-slider {
		position: relative;
		text-align: left;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 2;
		background-color: #fff;
		border: 2px solid theme-color("primary");
		width: 16px;
		height: 16px;
		border-radius: 50%;
		cursor: ew-resize;
		outline: none;
		top: -5px;
		/* rtl:ignore */
		margin-left: -10px;
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: 0.7em;
		display: block;
		border: 0;
		border-radius: 1em;
		background-color: theme-color("primary");
	}

	.price_slider_wrapper .ui-widget-content {
		border-radius: 1em;
		background-color: gray("200");
		border: 0;
	}

	.ui-slider-horizontal {
		height: 0.5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px;
	}

	.price_label,
	.price_slider,
	.price_slider_amount {
		margin-top: $spacer;
	}

	[type="text"] + button {
		margin-left: 0;

		@include button--size-xs;
	}

	.price_label {
		font-size: $font-size-xs;
	}
}
