.site-primary {

	@include make-col-ready;

	margin-top: ( $grid-gutter-width / 2);
	margin-bottom: ( $grid-gutter-width / 2);
	flex: 1 0;
	order: 1;
}

.site-primary--5,
.site-primary--8,
.site-primary--10 {

	@include media-breakpoint-up(lg) {

		@include make-col(5);
		margin: $grid-gutter-width auto;
	}
}

.site-primary--8 {

	@include media-breakpoint-up(lg) {

		@include make-col(8);
	}
}

.site-primary--10 {

	@include media-breakpoint-up(lg) {

		@include make-col(10);
	}
}
