.site-tertiary {

	@include make-col-ready;
	@include make-col(12);
	margin-top: ( $spacer * 2 );
	margin-bottom: ( $spacer * 2 );
	order: 2;

	@include media-breakpoint-up(xl) {

		@include make-col(2);
	}
}
