.site-primary {
	@include make-col-ready;
	@include make-col(12);
	margin-top: $vertical-spacer;
	margin-bottom: $vertical-spacer;
	order: 1;

	@include media-breakpoint-up(xl) {

		@include make-col(9.5);
	}
}
