.site-primary {

	@include make-col-ready;

	margin-top: ( $grid-gutter-width / 2);
	margin-bottom: ( $grid-gutter-width / 2);
	flex: 1 0;
	order: 1;
}

.site-primary--narrow {

	@include media-breakpoint-up(lg) {

		@include make-col(8);
		margin: $grid-gutter-width auto;
	}
}
