.site-secondary {

	@include make-col-ready();
	@include make-col(12);
	@include vertical-spacing("margin", "down");
	display: none;
	order: 0;

	@include media-breakpoint-up(md) {
		display: block;
	}

	@include grow-column( (
		md: 2.5,
		xl: 1.8,
	) );
}
