.site-tertiary {

	@include make-col-ready;
	margin-top: ( $grid-gutter-width / 2);
	margin-bottom: ( $grid-gutter-width / 2);
	order: 2;
	display: none;

	@include media-breakpoint-up(lg) {
		display: block;

		@include make-col(2);
	}

	@include media-breakpoint-up(xl) {

		@include make-col(1.5);
	}
}
