.star-rating {
	line-height: 1;
	display: flex;
	align-items: center;
}

.star-rating__stars {

	svg {
		margin: 0 1px;
		fill: darken(color("yellow"), 5%);
		width: 16px;
		height: 16px;
	}
}

.star-rating__count {
	color: gray("600");
	font-size: 0.75rem;
	margin-left: 5px;
}
