.widget {
	font-size: $font-size-sm;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-width: 0 0 1px;
	border-style: solid;

	@include gray("border-bottom-color", "200");

	a {
		text-decoration: none;
	}

	&:first-child .widget-title {
		margin-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}

	ul {

		@include reset-list();
	}

	li {
		margin-bottom: ($spacer / 3);
	}

	ul ul {
		margin: ($spacer / 3) 0 0;
		padding-left: 10px;
		list-style: none;
		border-width: 0 0 0 1px;
		border-style: solid;

		@include gray("border-color", "300");

		li {
			margin: 0;
		}
	}

	// Inside an off canvas drawer.
	.offcanvas-drawer & {
		padding: ($spacer * 1.5);
		margin-bottom: 0;
	}
}
