.widget {
	font-size: $font-size-sm;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid theme-color("light");

	&:first-child .widget-title {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
}
