.widget {
	font-size: $font-size-sm;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid gray("200");

	a {
		text-decoration: none;
	}

	&:first-child .widget-title {
		margin-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}

	li {
		margin-bottom: ($spacer / 3);
	}

	ul ul {
		margin: ($spacer / 3) 0 0;
		padding-left: 10px;
		list-style: none;

		li {
			margin: 0;
		}
	}
}
