// [1] Give any potential scrollbar more room so it does not overlap.
.woocommerce-MyAccount-navigation {
	margin: -($spacer) 0 $spacer;
	position: relative;

	&::after {
		content: "";
		border-bottom: 1px solid gray("200");
		width: 100%;
		height: 1px;
		position: absolute;
		bottom: $spacer;
		left: 0;
		right: 0;
	}

	ul {

		@include reset-list();

		padding: 0 0 $spacer; // [1]
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;

		li {
			flex: 1 0 auto;
		}
	}
}

.woocommerce-MyAccount-navigation-link {
	text-align: center;

	a {
		font-weight: bold;
		text-decoration: none;
		padding: $spacer;
		display: block;
	}

	&.is-active {

		a {
			border-bottom: 3px solid theme-color("primary");
		}
	}
}

.woocommerce-MyAccount-content {

	@include vertical-spacing("margin", "down");
}

// When just the login form is displayed hide the title.
.site-primary--5 .woocommerce h2 {
	display: none;
}

.woocommerce-edit-account {

	fieldset {
		margin: 0 0 $spacer;
		padding: 0;
		width: 100%;
		border: 0;

		legend {
			display: none;
		}
	}

	// Because WooCommerce template HTML is bleh.
	.clear + p {

		@include make-col-ready();
	}
}

.woocommerce-column--billing-address,
.woocommerce-column--shipping-address {

	h2,
	header {
		margin-bottom: $spacer;
	}
}

.woocommerce-table--order-details td,
.woocommerce-orders-table__header-order-actions {
	text-align: right;
}

.woocommerce-orders-table__cell-order-actions {
	text-align: right;

	.woocommerce-button {
		margin-left: ($spacer / 2);

		@include button--size-xs();

		&.cancel {

			@include button--color(theme-color("danger"));
		}
	}
}

.woocommerce-Address-title {
	display: flex;
	align-items: center;

	.edit {
		margin-left: $spacer;

		@include button();
		@include button--size-xs();
	}
}
