.woocommerce-products-header {
	position: relative;
}

.woocommerce-products-header__title {

	.home & {

		@include screen-reader-text();
	}
}

.woocommerce-products-header .term-description {
	color: gray("500");
}
