.wc-social-login {
	border-width: 1px 0 0;
	border-style: solid;

	@include gray("border-color", "200");
	@include vertical-spacing();
	@include vertical-spacing("padding", "up");

	p:first-child {
		margin-top: 0;
	}
}
