.woocommerce-info,
.woocommerce-message {
	overflow: hidden;
	margin: 0 0 ( $spacer * 2 );
	padding: $spacer;

	@include card;
	@include card--featured;

	.wc-forward {
		margin-right: -( $spacer / 2 );
		padding: 10px 20px;
		margin-left: auto;
		order: 1;

		@include button--success;
		@include button--size-sm;
	}
}

.woocommerce-message {
	display: flex;
	align-items: center;
	padding: ( $spacer / 2 ) $spacer;
}
