.woocommerce-single-product-purchase {

	@include make-col-ready();

	@include media-breakpoint-up(xl) {

		.woocommerce-product-gallery--default + .summary & {
			margin-top: 0;
			min-width: 325px;

			@include make-col(4);
		}
	}
}

.woocommerce-purchase-form {

	&:not(.woocommerce-purchase-form--grouped) {

		max-width: 400px;
	}

	&--grouped {

		@include card--reset();
	}

	.stock {
		font-size: $font-size-sm;
		margin-top: 0;
	}

	.in-stock {

		@include theme-color("color", "success");
	}

	.out-of-stock {

		@include theme-color("color", "danger");
	}

	p:only-child {
		margin: 0;
	}
}

.woocommerce-grouped-product-list {

	@include vertical-spacing("margin", "both", (
		sm: 1,
	));
}

.woocommerce-grouped-product-list-item {

	p,
	label {
		margin-bottom: 0;
	}
}

.woocommerce-grouped-product-list-item__quantity {
	width: 40%;

	.action-list__item {
		margin-bottom: 0;
		justify-content: flex-start;
	}

	.action-list__item-label {
		flex: 0;
	}

	.button {

		@include button--pill();
		@include button--size-xs();
	}
}

.woocommerce-grouped-product-list-item__price {
	font-size: $font-size-sm;
}

.single_add_to_cart_button {

	@include button--size-sm();
	@include button--size-block();
	@include button--color("success");
}

.single_variation_wrap {
	border-width: 1px 0 0;
	border-style: solid;
	display: none !important;

	$map: (
		sm: 1,
	);

	@include vertical-spacing("margin", "up", $map);
	@include vertical-spacing("padding", "up", $map);
	@include gray("border-color", "200");

	.woocommerce-variation--loaded & {
		display: block !important;

		.woocommerce-variation-add-to-cart {
			border-width: 1px 0 0;
			border-style: solid;

			$map: (
				sm: 1,
			);

			@include gray("border-color", "200");
			@include vertical-spacing("margin", "up", $map);
			@include vertical-spacing("padding", "up", $map);
		}
	}
}

.woocommerce-variation {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&:empty {
		display: none !important;
		visibility: hidden;
	}
}

.woocommerce-variation-description,
.woocommerce-variation-availability,
.woocommerce-variation-price {

	$map: (
		sm: 1,
	);

	@include vertical-spacing("margin", "down", $map);

	&:last-of-type {
		margin-bottom: 0;
	}
}

.woocommerce-variation-description {
	font-size: $font-size-sm;
	width: 100%;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	p:only-child {
		margin: 0;
	}
}

.woocommerce-variation-availability {
	font-size: $font-size-sm;
	margin: 0;

	p {
		margin: 0;
	}
}

.woocommerce-variation-add-to-cart-disabled {
	display: none;
}

.tawcvs-swatches {

	.swatch {
		color: gray("500");
	}
}

.tawcvs-swatches {
	padding: 0;
}
