.woocommerce-cart-wrapper {

	@include make-row();
}

.woocommerce-cart-wrapper__content {
	order: 2;
	
	@include make-col-ready();

	width: auto;
	flex: 1 0;
}

.woocommerce-cart-wrapper__purchase-form {
	order: 1;

	@include make-col-ready;

	// Scale purchase form down as page expands.
	$formBp: (
		sm: 6,
		md: 5,
		lg: 4,
	);
	
	@each $bp, $cols in $formBp {

		@include media-breakpoint-up($bp) {
			order: 3;

			@include make-col($cols);
		}
	}
}

.cart-empty {
	margin-top: 0;
}

.cross-sells > h2 {

	@include single-product-section-title();
}
