.woocommerce-store-notice {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: theme-color("warning");
	z-index: 99998;
	display: none;

	a {
		text-decoration: underline;
	}

	&--top {
		top: 0;
		bottom: auto;

		.admin-bar & {
			top: 32px;

			@media screen and (max-width: 782px) {
				top: 46px;
			}
		}
	}

	&--bottom {
		bottom: 0;
	}
}
