.woocommerce-product-gallery {

	@include make-col-ready;

	@include media-breakpoint-up(sm) {
		float: left;

		@include make-col(6);
	}

	@include media-breakpoint-up(lg) {
		display: flex;

		@include make-col(5);
	}

	.flex-viewport {
		order: 1;
		flex: 1 1 auto;
	}

	.flex-control-nav {
		margin: $spacer ( ( $spacer / 2 ) * -1 ) 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-between;

		@include media-breakpoint-up(lg) {
			margin: 0 $spacer 0 0;
			order: 0;
			flex: 1 0 75px;
			flex-flow: column wrap;
			justify-content: normal;
		}

		li {
			cursor: pointer;
			margin: 0 ( $spacer / 2 );

			@include media-breakpoint-up(xl) {
				margin: 0 0 $spacer;
			}
		}

		img {
			display: block;
		}
	}
}

.flex-viewport,
div:not(.flex-viewport) > .woocommerce-product-gallery__wrapper {

	@include card;
}

.woocommerce-product-gallery__wrapper {
	width: 100%;
	margin: 0;
	padding: 0;

	a,
	img {
		display: block;
		margin: 0 auto;
	}
}

// [1] .woocommerce-product-gallery (parent) includes grid gutter spacing.
.woocommerce-product-gallery__trigger {
	position: absolute;
	top: $spacer;
	right: $spacer + ( $grid-gutter-width / 2 ); // [1]
	font-size: 2em;
	z-index: 1;
	width: 36px;
	height: 36px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 100%;
	box-sizing: content-box;

	&:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		border: 2px solid gray("700");
		border-radius: 100%;
		position: absolute;
		top: 9px;
		left: 9px;
		box-sizing: content-box;
	}

	&:after {
		content: "";
		display: block;
		width: 2px;
		height: 8px;
		background: gray("700");
		border-radius: 6px;
		position: absolute;
		top: 21px;
		left: 22px;
		transform: rotate(-45deg);
		box-sizing: content-box;
	}
}
