.woocommerce-NoticeGroup {
	width: 100%;
}

.woocommerce-error,
.woocommerce-notice {
	width: 100%;

	form.woocommerce-checkout & {

		margin-left: $spacer;
		margin-right: $spacer;
	}
}

.woocommerce-error,
.woocommerce-notice {
	padding: ($spacer / 2) $spacer;

	@include vertical-spacing("margin", "down");
}

.woocommerce-notice-list {

	@include reset-list();
}

.woocommerce-notice-list__item {

	@include vertical-spacing("margin", "down", (
		sm: 0.5,
	));

	&:last-child,
	&:only-child {
		margin-bottom: 0;
	}

	.woocommerce-Button,
	.wc-forward {
		margin-right: ($spacer / 2);
		margin-left: -($spacer / 2);

		@include button();
		@include button--size-xs();
		@include button--color(theme-color("success"));
	}
}

// Old.
.woocommerce-Message,
.woocommerce-error {

	@include card();

	padding: ($spacer / 2) $spacer;


	.button {
		margin-right: ($spacer / 2);
		margin-left: -($spacer / 2);

		@include button--size-xs();
		@include button--color(theme-color("success"));
	}
}
