.single-product {

	.site-primary > .product {
		display: block;
		margin-left: -($grid-gutter-width / 2);
		margin-right: -($grid-gutter-width / 2);

		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;

			@include make-row;
		}
	}

	.product_title {
		color: theme-color("dark");
		font-size: $font-size-xl;
		margin: 0 0 $spacer;

		@include media-breakpoint-up(lg) {
			margin: $spacer 0;
		}
	}

	.summary {

		@include vertical-spacing("margin");
		@include make-col-ready;

		@include media-breakpoint-up(md) {
			width: auto;
			margin-top: 0;
			margin-left: 400px;
		}

		@include media-breakpoint-up(lg) {
			margin: 0;
			padding-left: ($grid-gutter-width / 2) + $spacer;

			@include make-col(4);
		}

		@include media-breakpoint-up(xl) {

			@include make-col(9.5);
		}
	}
}

.single-product .woocommerce-product-gallery + .summary {

	@include media-breakpoint-up(lg) {
		padding-left: ($grid-gutter-width / 2);

		@include make-col(4);
	}

	@include media-breakpoint-up(xl) {

		@include make-col(4.5);
	}
}

.woocommerce-product-details__short-description {
	font-size: $font-size-sm;
}

.woocommerce-product-rating {
	margin: 1rem 0;
}

.woocommerce-product-price {
	margin: 1rem 0;
	display: flex;
	align-items: center;

	.product__sale {
		margin: 0 0 0 10px;
	}
}

.woocommerce-single-product-data {
	clear: both;
	overflow: hidden;
}

.woocommerce-single-product-data__section {
	padding: $spacer;
	border-bottom: 1px solid gray("200");

	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}

	@include media-breakpoint-up(lg) {
		padding: ($spacer * 2);
	}
}

.products,
.woocommerce-single-product-data__section {

	> h2 {

		@include single-product-section-title;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.woocommerce-product-rating {
	display: flex;
	align-items: center;
}

.shop_attributes {
	width: 100%;
	margin-top: $spacer;
}

.comment-respond {
	margin-top: ($spacer * 2);
}
