.wc-proceed-to-checkout {
	margin-top: $spacer;
}

.woocommerce-shipping-package {

	@include vertical-spacing("margin", "both", (
		sm: 1
	) );
}

.cart_totals .shipping-methods {
	font-size: $font-size-sm;

	@include gray("color", "600");
	@include reset-list();

	li {
		display: flex;
		align-items: flex-start;
		margin: 0 0 ($spacer * 0.75);
	}

	label {
		line-height: 1.1;
		margin: 0 0 0 8px;
	}
}

.woocommerce-shipping-note {
	margin: $spacer 0;
	padding-left: $spacer;
	border-width: 0 0 0 1px;
	border-style: solid;

	@include gray("color", "300");
}

.woocommerce-shipping-calculator-toggle {
	margin-top: 0;

	&--mini {
		margin-top: -($spacer / 2);
	}
}

.shipping-calculator-button {
	font-size: $font-size-xs;

	.woocommerce-shipping-calculator & {
		display: none;
	}
}

.shipping-calculator-form {

	.select2-container--default .select2-selection--single .select2-selection__rendered,
	.select2-container--default .select2-selection--single .select2-results__options,
	.input-text {
		font-size: $font-size-xs;
		min-height: 33px;
	}

	p:last-child {
		margin: ( $spacer * 2 );
	}

	button {

		@include button--size-xs();
	}

}


.woocommerce-shipping-note,
.woocommerce-shipping-destination,
.woocommerce-shipping-contents {
	font-size: $font-size-xs;
}

.woocommerce-shipping-contents {

	&:first-child {
		margin-top: 0;
	}
}

.woocommerce-shipping-address {
	border-width: 0 0 1px;
	border-style: solid;

	@include gray("color", "200");
}

.coupons-next {
	text-align: center;
	font-size: $font-size-xs;
	padding: 0 $spacer $spacer;

	@include gray("color", "500");
}

.checkout-button {

	@include button--size-sm();
	@include button--size-block();
	@include button--color("success");
}
