.woocommerce-mini-cart-item {
	position: relative;

	.remove {
		color: theme-color("danger");
		text-align: center;
		line-height: 20px;
		background: #fff;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		position: absolute;
		top: ($spacer / 2);
		right: ($spacer / 2);
	}

	a {
		font-weight: $font-weight-bold;
	}

	.quantity {
		margin: ($spacer / 2) 0 0;
		display: block;
	}
}

.woocommerce-mini-cart__total {
	border: 1px solid gray("200");
	border-width: 1px 0;

	@include vertical-spacing("padding", "both", (
		sm: 1,
	) );
}

.widget_shopping_cart_content {

	.checkout {
		margin-top: ($spacer / 2);

		@include button();
		@include button--color(theme-color("success"));
	}

	.button {

		@include button--size-sm();
		@include button--size-block();
	}
}
