.woocommerce-MyAccount-navigation {
	margin: -($spacer) 0 ($spacer * 2);
	border-bottom: 1px solid gray("200");

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}
}

.woocommerce-MyAccount-navigation-link {
	text-align: center;

	a {
		text-decoration: none;
		padding: $spacer;
		display: block;
		margin-bottom: -1px;
	}

	&.is-active {

		a {
			box-shadow: inset 0 -2px 0 0 theme-color("primary");
		}
	}
}

.woocommerce-edit-account {

	fieldset {
		margin: 0 0 $spacer;
		padding: 0;
		width: 100%;
		border: 0;

		legend {
			display: none;
		}
	}

	// Because WooCommerce template HTML is bleh.
	.clear + p {

		@include make-col-ready();
	}
}

.woocommerce-column--billing-address,
.woocommerce-column--shipping-address,
.woocommerce-Addresses {

	h2,
	header {
		margin-bottom: $spacer;
	}

	address {
		font-style: normal;
	}

	.edit {

		@include button--secondary;
		@include button--size-xs;
	}
}

.woocommerce-customer-details {

	@include vertical-spacing;
}
