.single-product {
	.site-primary > .product {
		display: block;
		margin-left: -( $grid-gutter-width / 2 );
		margin-right: -( $grid-gutter-width / 2 );

		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;

			@include make-row;
		}
	}

	.product_title {
		color: theme-color("dark");
		font-size: $font-size-xl;
		margin: $spacer 0;
	}

	.summary {

		@include vertical-spacing();
		@include make-col-ready;

		@include media-breakpoint-up(sm) {

			@include make-col-offset(6);
		}

		@include media-breakpoint-up(lg) {
			margin: 0;
			padding-left: ( $grid-gutter-width / 2 ) + $spacer;

			@include make-col(4);
		}

		@include media-breakpoint-up(xl) {

			@include make-col(9.5);
		}
	}
}

.single-product .woocommerce-product-gallery + .summary {

	@include media-breakpoint-up(lg) {
		padding-left: ( $grid-gutter-width / 2 );

		@include make-col(4);
	}

	@include media-breakpoint-up(xl) {

		@include make-col(4.5);
	}
}

.woocommerce-product-details__short-description {
	font-size: $font-size-sm;
}

.woocommerce-product-rating {
	margin: 1rem 0;
}

.woocommerce-product-price {
	margin: 1rem 0;
	display: flex;
	align-items: center;

	.product__sale {
		margin: 0 0 0 10px;
	}
}

.woocommerce-single-product-data {
	clear: both;
	overflow: hidden;
}

.woocommerce-single-product-data__section {
	padding-left: ( $grid-gutter-width / 2 );
	padding-right: ( $grid-gutter-width / 2 );

	@include vertical-spacing();

	@include media-breakpoint-up(md) {
		margin: ( $spacer * 2 ) $spacer;
		padding: 0;
	}

	@include media-breakpoint-up(lg) {
		margin: ( $spacer * 2 );
	}
}

.products,
.woocommerce-single-product-data__section {
	> h2 {
		@include single-product-section-title;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.woocommerce-product-rating {
	display: flex;
	align-items: center;
}

.woocommerce-review-link {
	font-size: $font-size-xs;
	margin-left: 8px;
}

.shop_attributes {
	width: 100%;
	margin-top: $spacer;
}

.comment-respond {
	margin-top: ( $spacer * 2 );
}
