$spacing: ( $spacer / 2 );

.woocommerce-pagination {
	text-align: center;
	border-radius: $border-radius;
	display: flex;
	justify-content: center;
	align-items: center;

	&:not(:empty) {
		margin: ( $spacer * 2 ) 0 $spacer;
		padding: ( $spacer / 3 ) 0;
	}

	ul.page-numbers {

		@include reset-list();

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.current,
	a {
		color: inherit;
		text-decoration: none;
		padding: 0 $spacing;
		display: flex;
		align-items: center;
	}

	.next,
	.prev {
		font-size: $font-size-base;
	}

	.active,
	.current {
		color: gray("700");
	}

	.next {
		margin-left: $spacing;

		svg {
			margin-left: $spacing;
		}
	}

	.prev {
		margin-right: $spacing;

		svg {
			margin-right: $spacing;
		}
	}

	svg {
		width: 16px;
		height: 16px;
	}
}
