.single-product {

	.site-primary > .product {
		display: flex;
		flex-wrap: wrap;

		@include make-row();
	}

	.product_title {
		color: theme-color("dark");
		font-size: $font-size-xl;
		margin: $spacer 0;
	}

	.summary {
		display: flex;
		flex: 1 0 100%;
		flex-direction: column;

		@include media-breakpoint-up(md) {
			flex-basis: 0;
		}

		@include media-breakpoint-up(xl) {
			flex-direction: row;
		}
	}
}

.summary__inner {

	@include col();

	flex-grow: 1;

	@include media-breakpoint-up(sm) {
		flex-grow: 0;
	}

	@include media-breakpoint-up(lg) {
		width: 100%;
	}

	@include media-breakpoint-up(xl) {
		width: auto;
		flex: 1 1 auto;
	}
}

.woocommerce-product-details__short-description {
	font-size: $font-size-sm;
}

.woocommerce-product-rating {
	margin: 1rem 0;
}

.woocommerce-product-price {
	margin: 1rem 0;
	display: flex;
	align-items: center;

	.product__sale {
		margin: 0 0 0 10px;
	}
}

.woocommerce-single-product-data {
	width: 100%;
}

.woocommerce-single-product-data__section {
	padding: $spacer;
	border-bottom: 1px solid gray("200");

	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}

	@include media-breakpoint-up(lg) {
		padding: ($spacer * 2);
	}
}

.products,
.woocommerce-single-product-data__section {

	> h2 {

		@include single-product-section-title;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.woocommerce-product-rating {
	display: flex;
	align-items: center;
}

.shop_attributes {
	width: 100%;
	margin-top: $spacer;
}

.comment-respond {
	margin-top: ($spacer * 2);
}
