.woocommerce .woocommerce-cart-form {

	.products {
		margin-top: 0;
	}
}

.woocommerce-totals-plus {
	font-size: $font-size-sm;

	@include gray("color", "500");
}

#payment .methods {

	label[for="payment_method_stripe"],
	label[for="payment_method_stripe_alipay"],
	label[for="payment_method_stripe_bancontact"],
	label[for="payment_method_stripe_eps"],
	label[for="payment_method_stripe_giropay"],
	label[for="payment_method_stripe_ideal"],
	label[for="payment_method_stripe_multibanco"],
	label[for="payment_method_stripe_p24"],
	label[for="payment_method_stripe_sepa"],
	label[for="payment_method_stripe_sofort"] {
		display: block;
	}
}

#wc-stripe-cc-form {
	margin-bottom: 0 !important;
}
