form.woocommerce-checkout {

	@include make-row();
}

@include complimentary-columns( (
	sm: 12,
	md: 6,
	lg: 7,
),
	".woocommerce-checkout__info",
	".woocommerce-checkout__review"
);

.woocommerce-checkout-review-order {
	padding: $spacer;

	@include card;
}

#place_order {

	@include button--success;
	@include button--size-block;
}

.woocommerce-billing-fields {

	@include vertical-spacing("margin", "down");
}

#order_review_heading,
.woocommerce-checkout-payment h3,
.woocommerce-shipping-fields h3,
.woocommerce-billing-fields h3 {

	@include single-product-section-title();
}

.woocommerce-form__label-for-checkbox {
	font-weight: $font-weight-base;
	font-size: $font-size-sm;
	margin: $spacer 0;
	display: flex;

	span {
		margin-left: 8px;
	}

	[type="checkbox"] {
		margin-top: 2px;
	}
}

.woocommerce-terms-and-conditions-text {
	color: gray("800");
	font-weight: $font-weight-bold;
}

.wc_payment_methods {

	@include reset-list();

	margin: 0 0 ( $spacer * 2 );
}

.wc_payment_method {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: $spacer;

	[type="radio"] {
		display: none;
	}

	[type="radio"]:checked + label {

		@include card--primary;

		&:before {
			width: 7px;
			height: 11px;
			border-color: theme-color("success");
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			border-radius: 0;
			margin-left: 5px;
			left: $spacer;
			top: calc(50% - 7px);
		}
	}

	label {
		color: gray("500");
		width: 100%;
		margin: 0;
		padding: $spacer $spacer $spacer ($spacer * 2.5);
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		@include card;

		&:before {
			content: "";
			position: absolute;
			left: $spacer;
			top: calc(50% - 6px);
			width: 12px;
			height: 12px;
			border: 2px solid gray("400");
			border-radius: 50%;
		}

		img {
			float: right;
			margin-top: -2px;
		}
	}

	.payment_box p {
		font-size: $font-size-sm;
		margin: $spacer 0 0;
	}
}

.payment_method_paypal {

	img {
		display: none;
	}

	.about_paypal {
		font-size: $font-size-sm;
	}
}

.wc-credit-card-form {
	margin: $spacer 0;
	padding: 0;
	border: 0;

	#stripe-card-element {

		border: 1px solid gray("300");
		border-radius: $border-radius !important;
	}
}

#order_review {
	position: sticky;
	top: $spacer;

	.admin-bar & {
		top: calc(32px + #{$spacer});
	}
}

.woocommerce-form-coupon-toggle {

	@include vertical-spacing("margin", "down");

	.woocommerce-info {
		border: 0;
		padding: 0;
		background: none;
	}
}

.woocommerce-form-coupon {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include vertical-spacing("margin", "down");

	p:first-child {
		display: none;
	}

	.form-row-first,
	.form-row-last {
		flex: 1 0;
		margin-bottom: 0;
	}

	.form-row-first {
		flex-basis: 60%;
	}

	.form-row-last {
		margin-left: $spacer;
	}

	[name="apply_coupon"] {

		@include button;
		@include button--size-sm;
		@include button--size-block;
	}
}

.woocommerce-remove-coupon {
	color: theme-color("danger");
	font-size: $font-size-sm;
	margin-left: 5px;
}

.wc-terms-and-conditions {
	font-size: $font-size-sm;
	margin: ($spacer * 2) 0 $spacer;
}

#ship-to-different-address {
	font-size: $font-size-base;
}
