.woocommerce-product-gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;

	@include col();

	flex-shrink: 1;

	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}

	.flex-viewport {
		order: 1;
		flex: 0 1 auto;
		max-width: 400px;
	}

	// [1] .woocommerce-product-gallery (parent) includes grid gutter spacing.
	.flex-direction-nav {
		order: 2;
		position: absolute;
		top: 50%;
		left: $spacer + ( $grid-gutter-width / 2 ); // [1]
		right: $spacer + ( $grid-gutter-width / 2 ); // [1]
		margin-top: -18px;
		display: flex;
		justify-content: space-between;

		@include reset-list();

		a {
			width: 36px;
			height: 36px;
			background: #fff;
			border-radius: 100%;
			display: flex;
			justify-content: center;
		}

		svg {
			fill: gray("700");
			align-self: center;
			width: 20px;
			height: 20px;
		}

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	.flex-control-nav {
		display: none;
		max-width: 75px;

		@include reset-list();

		@include media-breakpoint-up(lg) {
			margin-right: $spacer;
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
			order: 0;
		}

		li {
			margin: 0 0 $spacer;
			cursor: pointer;
		}

		img {
			display: block;
		}
	}
}

.woocommerce-product-gallery__wrapper {
	margin: 0;
	padding: 0;
}

.woocommerce-product-gallery__image {

	a,
	img {
		display: block;
	}
}

// [1] .woocommerce-product-gallery (parent) includes grid gutter spacing.
.woocommerce-product-gallery__trigger {
	position: absolute;
	top: $spacer;
	right: $spacer + ( $grid-gutter-width / 2 ); // [1]
	font-size: 2em;
	z-index: 1;
	width: 36px;
	height: 36px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 100%;
	box-sizing: content-box;

	&:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		border: 2px solid gray("700");
		border-radius: 100%;
		position: absolute;
		top: 9px;
		left: 9px;
		box-sizing: content-box;
	}

	&:after {
		content: "";
		display: block;
		width: 2px;
		height: 8px;
		background: gray("700");
		border-radius: 6px;
		position: absolute;
		top: 21px;
		left: 22px;
		transform: rotate(-45deg);
		box-sizing: content-box;
	}
}
