$spacing: ( $spacer / 2 );

.woocommerce-pagination {
	text-align: center;
	background: theme-color("light");
	border-radius: $border-radius;
	display: flex;
	justify-content: center;
	align-items: center;

	&:not(:empty) {
		margin: ( $spacer * 2 ) 0 $spacer;
		padding: ( $spacer / 3 ) 0;
	}

	ul.page-numbers {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.current,
	a {
		color: inherit;
		text-decoration: none;
		padding: 0 $spacing;
	}

	.next,
	.prev {
		font-size: $font-size-base;
	}

	.active,
	.current {
		color: theme-color("dark");
	}

	.next {
		margin-left: $spacing;
	}

	.prev {
		margin-right: $spacing;
	}
}
