.cart_totals {
	#shipping_method {
		font-size: $font-size-sm;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: flex;
			align-items: center;
		}

		label {
			margin-left: 5px;
		}
	}
}

.shipping-calculator-button {
	font-size: $font-size-xs;

	.woocommerce-shipping-calculator & {
		display: none;
	}
}

.shipping-calculator-form {

	.select2-container--default .select2-selection--single .select2-selection__rendered,
	.select2-container--default .select2-selection--single .select2-results__options,
	.input-text {
		font-size: $font-size-xs;
	}

	p:last-child {
		margin: ( $spacer * 2 );
	}

	button {

		@include button--size-sm;
	}

}

.shipping-note {
	margin: 0 $spacer;
	color: gray("600");
	font-size: $font-size-sm;

	p {
		margin: 0;
	}
}

.coupons-next {
	color: gray("600");
	text-align: center;
	font-size: $font-size-xs;
	padding: 0 $spacer $spacer;
}

.checkout-button {

	@include button--success;
	@include button--size-sm;
	@include button--size-block;
}
