.woocommerce {

	// Use Bootstraps grid system on WooCommerce forms.
	.woocommerce-shipping-fields__field-wrapper,
	.woocommerce-additional-fields__field-wrapper,
	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-address-fields__field-wrapper,
	.woocommerce-EditAccountForm,
	.col2-set {

		@include make-row();

		.woocommerce-form {

			@include make-row();
		}

		.woocommerce-LostPassword,
		.form-row {

			@include make-col-ready();
			@include form-row;
		}

		.woocommerce-LostPassword,
		.form-row--wide {

			@include make-col(12);
		}

		.form-row-first,
		.form-row-last {

			@include make-col(12);

			@include media-breakpoint-up(md) {

				@include make-col(6);
			}
		}
	}

	.col-1,
	.col-2 {

		@include make-col-ready();
		@include make-col(12);

		@include media-breakpoint-up(md) {

			@include make-col(6);
		}
	}

	// Global forms.
	.input-text {

		@include form-input;
	}

	// Let JS toggle .required/.optional.
	.required {
		visibility: hidden;
	}

	.optional {
		visibility: visible;
	}

	// Lessen the input to select "flash"
	.input-text.qty {
		font-size: $font-size-xs;
		padding: 1px 5px;
		max-width: 30px;
	}
}

.woocommerce-column__title {

	@include section-title();
}
