.woocommerce-single-product-purchase {

	@include vertical-spacing();
	@include make-col-ready();

	@include media-breakpoint-up(xl) {
		margin-top: 0;
		min-width: 325px;

		@include make-col(4);
	}
}

.woocommerce-purchase-form {

	@include card;

	max-width: 400px;
	padding: $spacer;

	.stock {
		font-size: $font-size-sm;
		margin-top: 0;
	}

	.in-stock {
		color: theme-color("success");
	}

	.out-of-stock {
		color: theme-color("danger");
	}

	p:only-child {
		margin: 0;
	}
}

.single_add_to_cart_button {

	@include button--success;
	@include button--size-sm;
	@include button--size-block;
}

.single_variation_wrap {
	border-top: 1px solid gray("200");

	$map: (
		sm: 1,
	);

	@include vertical-spacing("margin", "up", $map);
	@include vertical-spacing("padding", "up", $map);
}

.woocommerce-variation {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&:empty {
		display: none !important;
		visibility: hidden;
	}

	.woocommerce-variation--loaded & {
		border-bottom: 1px solid gray("200");

		$map: (
			sm: 1,
		);

		@include vertical-spacing("margin", "down", $map);
		@include vertical-spacing("padding", "down", $map);
	}
}

.woocommerce-variation-description,
.woocommerce-variation-availability,
.woocommerce-variation-price {

	$map: (
		sm: 1,
	);

	@include vertical-spacing("margin", "down", $map);

	&:last-of-type {
		margin-bottom: 0;
	}
}

.woocommerce-variation-description {
	font-size: $font-size-sm;
	width: 100%;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	p:only-child {
		margin: 0;
	}
}

.woocommerce-variation-availability {
	font-size: $font-size-sm;
	margin: 0;

	p {
		margin: 0;
	}
}

.tawcvs-swatches {

	.swatch {
		color: gray("500");
	}
}

.tawcvs-swatches {
	padding: 0;
}
