form.woocommerce-checkout {

	@include make-row();
}

@include complimentary-columns( (
	sm: 12,
	md: 6,
	lg: 7,
),
".woocommerce-checkout__info",
".woocommerce-checkout__review"
);

#place_order {

	@include button--color("success");
	@include button--size-block();
}

.woocommerce-billing-fields {

	@include vertical-spacing("margin", "down");
}

#order_review_heading,
.woocommerce-checkout-payment h3,
.woocommerce-shipping-fields h3,
.woocommerce-billing-fields h3 {

	@include section-title();
}

.woocommerce-shipping-fields h3 {

	@include vertical-spacing("margin", "down");
}

.woocommerce-form__label-for-checkbox {
	font-weight: $font-weight-base;
	font-size: $font-size-sm;
	margin: $spacer 0;
	display: flex;

	span {
		margin-left: 8px;
	}

	[type="checkbox"] {
		margin-top: 2px;
	}
}

.woocommerce-terms-and-conditions-text {
	color: gray("800");
	font-weight: $font-weight-bold;
}

.wc_payment_methods {

	@include reset-list();

	margin: 0 0 ( $spacer * 2 );
}

.wc_payment_method {
	margin-bottom: $spacer;

	[name="payment_method"] {
		display: none;
	}

	[type="radio"]:checked + label[for^="payment_method"] {
		color: theme-color("success");
		padding: 0;

		&::before {
			width: 7px;
			height: 11px;
			border-color: theme-color("success");
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			border-radius: 0;
			margin-left: 5px;
			left: $spacer;
			top: calc(50% - 7px);
		}
	}

	label[for^="payment_method"] {
		color: gray("500");
		width: 100%;
		margin: 0;
		padding: $spacer $spacer $spacer ($spacer * 2.5) !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: $spacer;
			top: calc(50% - 6px);
			width: 12px;
			height: 12px;
			border: 2px solid gray("400");
			border-radius: 50%;
		}

		img {
			float: right;
			margin-top: -2px;
		}
	}

	.payment_box p {
		color: gray("600");
		font-size: $font-size-sm;
		margin: $spacer 0 0;
	}
}

.payment_method_paypal {

	img {
		display: none;
	}

	.about_paypal {
		font-size: $font-size-sm;
	}
}

#order_review {
	position: sticky;
	top: $spacer;

	.admin-bar & {
		top: calc(32px + #{$spacer});
	}
}

.woocommerce-form-coupon-toggle {
	padding: 0;

	@include make-row();

	.woocommerce-notice-list {

		@include vertical-spacing("margin", "down", (
			sm: 1,
		));
	}

	.woocommerce-notice {
		font-size: $font-size-sm;
		margin: 0;
		padding: 0;
		background: none;
		box-shadow: none;
		border: 0;
	}
}

.woocommerce-form-coupon {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include vertical-spacing("margin", "down");

	p:first-child {
		display: none;
	}

	.form-row-first,
	.form-row-last {
		flex: 1 0;
		margin-bottom: 0;
	}

	.form-row-first {
		flex-basis: 60%;
	}

	.form-row-last {
		margin-left: $spacer;
		flex-basis: auto;
	}

	[name="apply_coupon"] {

		@include button--color("success");
		@include button--size-sm();
		@include button--size-block();
	}
}

.woocommerce-remove-coupon {
	color: theme-color("warning");
	font-size: $font-size-sm;
	margin-left: 5px;
}

.wc-terms-and-conditions {
	font-size: $font-size-sm;
	margin: ($spacer * 2) 0 $spacer;
}

.wc-payment-form {
	margin-left: 0;
	padding: 0;
	border: 0;
	width: 100%;

	@include vertical-spacing("margin", "both");
}

#ship-to-different-address {
	font-size: $font-size-base;
}

#stripe-card-element,
#stripe-exp-element,
#stripe-cvc-element {

	@include form-input();
}

.woocommerce-checkout #payment ul.payment_methods li img.stripe-icon,
#add_payment_method #payment ul.payment_methods li img.stripe-icon {
	height: 16px;
}

.woocommerce-privacy-policy-text:not(:empty) {
	font-size: $font-size-sm;
	border: 1px solid gray("200");
	border-width: 1px 0;
}

.woocommerce-SavedPaymentMethods-new,
.woocommerce-SavedPaymentMethods-token,
.woocommerce-SavedPaymentMethods-saveNew {

	@include form-label--with-checkbox();

	label {
		margin: 0;
	}
}

.wc-saved-payment-methods {

	@include reset-list();
	@include vertical-spacing();

	li {

		@include vertical-spacing("margin", "down", (
			sm: 1,
		) );
	}

	input:checked + label {
		color: theme-color("success");
	}
}

.place-order {
	margin-top: $spacer;
}
