.woocommerce-products-meta {
	font-size: $font-size-sm;
	margin: $spacer 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.woocommerce-products-header {
	position: relative;
}

.woocommerce-products-header__filter-toggle {
	position: absolute;
	right: 0;
	bottom: $spacer;

	@include media-breakpoint-up(md) {
		display: none;
	}
}

.shop-filters-mobile-toggle {
	font-size: $font-size-sm;
	text-decoration: none;
	display: flex;
	align-items: center;

	svg {
		margin-right: 5px;
		width: 18px;
		height: 18px;
	}
}
