.woocommerce-receipt-wrapper {

	@include make-row();
}

.woocommerce-receipt-wrapper__content {

	@include make-col-ready();
	@include vertical-spacing("margin", "down");

	width: auto;
	flex: 1 0;

	section:first-of-type h2 {
		margin-top: 0;
	}
}

.woocommerce-receipt-wrapper__info {
	order: 1;

	@include make-col-ready();
	@include grow-column( (
		sm: 4,
		md: 3,
		lg: 4,
	) );
}

.woocommerce-view-order-status {

	@include card();
	@include vertical-spacing("margin", "down");

	padding: ($spacer / 2) $spacer;
}

.woocommerce-OrderUpdates {

	@include reset-list();
}

.woocommerce-OrderUpdate {
	$map: (
		sm: 1
	);

	border-bottom: 1px solid gray("200");

	@include vertical-spacing("padding", "down", $map);
	@include vertical-spacing("margin", "down", $map);
}

.woocommerce-OrderUpdate-meta {
	color: gray("500");
	margin: 0;
	font-size: $font-size-xs;
}

.woocommerce-OrderUpdate-description {

	p:only-child {
		margin: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
