.woocommerce-product-gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@include col();

	flex-shrink: 1;

	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}

	.flex-viewport {
		order: 1;
		flex: 0 1 400px;
		display: flex;
		width: 400px;
	}

	.flex-direction-nav {
		order: 2;

		@include reset-list();

		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	.flex-control-nav {
		display: none;

		@include reset-list();

		@include media-breakpoint-up(lg) {
			margin-right: $spacer;
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
			order: 0;
		}

		li {
			margin: 0 0 $spacer;
			cursor: pointer;
		}

		img {
			display: block;
		}
	}
}

.woocommerce-product-gallery__wrapper {
	margin: 0;
	padding: 0;
}

// [1] .woocommerce-product-gallery (parent) includes grid gutter spacing.
.woocommerce-product-gallery__trigger {
	position: absolute;
	top: $spacer;
	left: $spacer + ( $grid-gutter-width / 2 ); // [1]
	font-size: 2em;
	z-index: 1;
	width: 36px;
	height: 36px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 100%;
	box-sizing: content-box;

	@include media-breakpoint-up(xl) {
		right: $spacer + ( $grid-gutter-width / 2 ); // [1]
		left: auto;
	}

	&:before {
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		border: 2px solid gray("700");
		border-radius: 100%;
		position: absolute;
		top: 9px;
		left: 9px;
		box-sizing: content-box;
	}

	&:after {
		content: "";
		display: block;
		width: 2px;
		height: 8px;
		background: gray("700");
		border-radius: 6px;
		position: absolute;
		top: 21px;
		left: 22px;
		transform: rotate(-45deg);
		box-sizing: content-box;
	}
}
