//
// Local mixin to keep this file DRY.
//
@mixin _woocommerce-alert-buttons() {

	.woocommerce-Button,
	.wc-forward {
		margin-right: ($spacer / 2);
		margin-left: -($spacer / 2);
		position: relative;
		vertical-align: bottom;

		@include button();
		@include button--size-xs();
		@include button--color(theme-color("success"));
	}
}

.woocommerce-NoticeGroup {
	width: 100%;
}

.woocommerce-error,
.woocommerce-notice {
	width: 100%;

	form.woocommerce-checkout & {

		margin-left: $spacer;
		margin-right: $spacer;
	}
}

.woocommerce-error,
.woocommerce-notice {
	padding: ($spacer / 2) $spacer;

	@include vertical-spacing("margin", "down");
}

.woocommerce-notice-list {

	@include reset-list();
}

.woocommerce-notice-list__item {
	display: flex;
	align-items: center;

	@include _woocommerce-alert-buttons();
	@include vertical-spacing("margin", "down", (
		sm: 0.5,
	));

	&:last-child,
	&:only-child {
		margin-bottom: 0;
	}

	> * {

		// Fake space between inline elements collapsed from flexbox.
		&:before,
		&:after {
			content: '\00a0';
		}
	}
}

// Old.
.woocommerce-Message,
.woocommerce-error {

	@include card();
	@include _woocommerce-alert-buttons();

	padding: ($spacer / 2) $spacer;
}
