.woocommerce-single-product-purchase {

	@include vertical-spacing();
	@include make-col-ready;

	@include media-breakpoint-up(sm) {
		width: auto;

		@include make-col-offset(6);
	}

	@include media-breakpoint-up(lg) {
		margin: 0;

		@include make-col(3);
	}

	@include media-breakpoint-up(xl) {

		@include make-col(2.5);
	}
}

.woocommerce-purchase-form {

	@include card;

	padding: $spacer;

	.stock {
		font-size: $font-size-sm;
		margin-top: 0;
	}
}

.single_add_to_cart_button {

	@include button--success;
	@include button--size-sm;
	@include button--size-block;
}

// @todo consolodate

.add-to-cart .quantity,
.add-to-cart__action {

	@extend .action-list__item;
}

.add-to-cart label,
.add-to-cart__action-label {

	@extend .action-list__item-label;
}

.action-form__action-value {

	@extend .action-list__item-value;
}

.single_variation_wrap {
	margin-top: $spacer;
	padding-top: $spacer;
	border-top: 1px solid gray("200");
}

.woocommerce-variation {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.woocommerce-variation--loaded & {
		margin-bottom: $spacer;
		padding-bottom: $spacer;
		border-bottom: 1px solid gray("200");
	}
}

.woocommerce-variation-availability,
.woocommerce-variation-price {
	margin-top: $spacer;
}

.woocommerce-variation-price:empty {
	display: none;
}

.woocommerce-variation-description {
	font-size: $font-size-sm;
	width: 100%;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	p:only-child {
		margin: 0;
	}
}

.woocommerce-variation-availability {
	font-size: $font-size-sm;

	p {
		margin: 0;
	}
}

.add-to-cart {
	font-size: $font-size-sm;

	.in-stock {
		color: color("green");
	}

	.out-of-stock {
		color: color("red");
	}
}
