.woocommerce-products-meta {
	font-size: $font-size-sm;
	margin: $spacer 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	@include media-breakpoint-up(sm) {
		justify-content: normal;
	}
}

.woocommerce-products-header {
	position: relative;
}

.woocommerce-products-header__title {

	.home & {
		@include screen-reader-text();
	}
}
