.single-product {
	.site-primary > .product {

		@include make-row;
	}

	.product_title {
		color: theme-color("dark");
		font-size: 1.50rem;
		font-weight: 500;
		margin: 1rem 0;
	}

	.summary {

		@include make-col-ready;

		flex: 1 0;
		padding-left: ( $grid-gutter-width / 2 ) + $spacer;
	}
}

.single-product .woocommerce-product-gallery + .summary {
	padding-left: ( $grid-gutter-width / 2 );
}

.woocommerce-product-details__short-description {
	font-size: 0.90rem;
}

.woocommerce-product-rating {
	margin: 1rem 0;
}

.woocommerce-product-price {
	margin: 1rem 0;
	display: flex;
	align-items: center;

	.product__sale {
		margin: 0 0 0 10px;
	}
}

.woocommerce-single-product-data__section {
	margin: ( $spacer * 2 );
}

.woocommerce-single-product-data__section {
	h2 {
		color: theme-color("dark");
		font-size: 1.15rem;
		font-weight: 500;
		margin: 0 0 $spacer;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.woocommerce-product-rating {
	display: flex;
	align-items: center;
}

.woocommerce-review-link {
	font-size: 0.75rem;
	margin-left: 8px;
}

.shop_attributes {
	width: 100%;
	border: 1px solid gray("300");
	border-collapse: collapse;

	th {
		color: theme-color("dark");
		text-align: left;
		margin: 0;
	}

	th,
	td {
		border: 1px solid gray("300");
		vertical-align: middle;
		padding: 10px;
	}

	tr:nth-child(even) {
		th,
		td {
			background: gray("100");
		}
	}

	p {
		margin-top: 0;
	}
}

.comment-respond {
	margin-top: ( $spacer * 2 );
}
