.woocommerce-info,
.woocommerce-message,
.woocommerce-NoticeGroup li {
	overflow: hidden;
	margin: 0 0 ( $spacer * 2 );
	padding: $spacer;

	@include card;

	.wc-forward {
		margin: -( $spacer / 2 );
		padding: 10px 20px;
		margin-left: auto;
		order: 1;

		@include button--success;
		@include button--size-sm;
	}
}

.woocommerce-message {
	display: flex;
	align-items: center;
}

.woocommerce-NoticeGroup {
	width: 100%;

	.woocommerce-error {

		@include make-col-ready();
		margin: 0;
		list-style: none;

		li {

			@include card--error;
		}
	}
}
