.woocommerce-cart-wrapper {

	@include make-row();
}

.woocommerce-cart-wrapper__content {
	order: 2;
	
	@include make-col-ready();

	width: auto;
	flex: 1 0;
}

.woocommerce-cart-wrapper__purchase-form {
	order: 1;

	@include make-col-ready;

	@include media-breakpoint-up(sm) {
		order: 3;

		@include make-col(6);
	}

	@include media-breakpoint-up(md) {

		@include make-col(5);
	}

	@include media-breakpoint-up(lg) {

		@include make-col(4);
	}

	@include media-breakpoint-up(xl) {

		@include make-col(3);
	}
}
