.woocommerce-info,
.woocommerce-message,
.woocommerce-error li {
	overflow: hidden;
	margin: 0 0 ( $spacer * 2 );
	padding: $spacer;

	@include card;

	.wc-forward {
		margin: -( $spacer / 2 );
		margin-left: $spacer;
		padding: 10px 20px;
		float: right;

		@include button--success;
		@include button--size-sm;
	}
}

.woocommerce-NoticeGroup {
	width: 100%;

	@include make-col-ready();
}

.woocommerce-error {

	margin: 0;
	padding: 0;
	list-style: none;

	li {

		@include card--error;
	}
}
