.woocommerce-products-meta {
	font-size: $font-size-sm;
	margin: $spacer 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.woocommerce-products-header__filter-toggle {
	position: absolute;
	top: 0;
	right: 0;
}
