.woocommerce-single-product-purchase {

	@include make-col-ready;
	@include make-col(12);
	position: sticky;
	top: ( $spacer / 2 );
	margin-bottom: ( $spacer * 2 );
	z-index: 10;

	@include media-breakpoint-up(xl) {

		@include make-col(2.5);
	}

	.card {
		padding: $spacer;
	}

	// [1] Admin bar has a set px offset.
	.admin-bar & {
		top: calc( #{( $spacer / 2 )} + 32px ); // [1]
	}
}

.single_add_to_cart_button {
	font-size: 0.90rem;
	padding: 10px 20px;
	width: 100%;
	background-color: theme-color("success");
}

.add-to-cart .quantity,
.add-to-cart__action {
	line-height: 1;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.add-to-cart label,
.add-to-cart__action-label {
	color: theme-color("dark");
	font-size: 0.90rem;
	font-weight: 500;
	line-height: 1;
	margin-right: 8px;
}

.single_variation_wrap {
	margin-top: $spacer;
	padding-top: $spacer;
	border-top: 1px solid gray("200");
}

.woocommerce-variation {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.woocommerce-variation--loaded & {
		display: flex;
		margin-bottom: $spacer;
		padding-bottom: $spacer;
		border-bottom: 1px solid gray("200");
	}
}

.woocommerce-variation-availability,
.woocommerce-variation-price {
	margin-top: $spacer;
}

.woocommerce-variation-description {
	font-size: 0.90rem;

	p:only-child {
		margin: 0;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.woocommerce-variation-availability {
	font-size: 0.90rem;

	p {
		margin: 0;
	}

	.in-stock {
		color: color("green");
	}
}
