.woocommerce-single-product-purchase {

	@include vertical-spacing();
	@include make-col-ready();

	@include media-breakpoint-up(xl) {

		@include make-col(5);
	}
}

.woocommerce-purchase-form {

	@include card;

	max-width: 400px;
	padding: $spacer;

	.stock {
		font-size: $font-size-sm;
		margin-top: 0;
	}
}

.single_add_to_cart_button {

	@include button--success;
	@include button--size-sm;
	@include button--size-block;
}

.single_variation_wrap {
	border-top: 1px solid gray("100");

	@include vertical-spacing("margin", "up");
	@include vertical-spacing("padding", "up");
}

.woocommerce-variation {
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	.woocommerce-variation--loaded & {
		border-bottom: 1px solid gray("100");

		@include vertical-spacing("margin", "down");
		@include vertical-spacing("padding", "down");
	}
}

.woocommerce-variation-description,
.woocommerce-variation-availability,
.woocommerce-variation-price {

	@include vertical-spacing("margin", "down");

	&:last-of-type {
		margin-bottom: 0;
	}
}

.woocommerce-variation-description {
	font-size: $font-size-sm;
	width: 100%;

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	p:only-child {
		margin: 0;
	}
}

.woocommerce-variation-availability {
	font-size: $font-size-sm;
	margin: 0;

	p {
		margin: 0;
	}
}

.add-to-cart {
	font-size: $font-size-sm;

	.in-stock {
		color: theme-color("success");
	}

	.out-of-stock {
		color: theme-color("danger");
	}
}
